@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Base */
	:root {
		/* https://github.com/sindresorhus/modern-normalize/blob/32713e4f46899410c9cb4dacd4302b3096019c9b/modern-normalize.css#L43 */
		--fallback-font-sans:
			system-ui,
			'Segoe UI',
			Roboto,
			Helvetica,
			Arial,
			sans-serif,
			'Apple Color Emoji',
			'Segoe UI Emoji';

		/* https://github.com/sindresorhus/modern-normalize/blob/32713e4f46899410c9cb4dacd4302b3096019c9b/modern-normalize.css#L100 */
		--fallback-font-code:
				ui-monospace,
				SFMono-Regular,
				Consolas,
				'Liberation Mono',
				Menlo,
				monospace; /* 1 */
			font-size: 1em; /* 2 */

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		overflow:
			hidden  /* X-axis */
			scroll; /* Y-axis */
		overscroll-behavior: none;
	}
	/* Schemes */
	:root:not(.dark) { color-scheme: light; }
	:root.dark       { color-scheme: dark;  }
	hr {
		border-color: theme('colors.gray.300');
	}
	/* Typography */
	:root, ::before, ::after {
		font: 400 13px / normal
			var(--font-sans);
		color: theme('colors.gray.600');
	}
	pre, code {
		/* Disable font-smoothing for code */
		-webkit-font-smoothing:  auto;
		-moz-osx-font-smoothing: auto;
		tab-size: 2;
		font: 400 13px / normal
			var(--fallback-font-code);
		color: theme('colors.gray.600');
	}
	/* Iconography */
	svg { overflow: visible; }
}

/* #__next { display: flex; } */
