:root {
	/****************************************************************************/
	/* Spacing */

	--spacing-1:                           12px;
	--spacing-2:                           24px;

	/****************************************************************************/
	/* Shadows */

	--shadow:                              0 0 0 1px gray;
	--inset-shadow:                        inset 0 0 0 1px red;

	/****************************************************************************/
	/* Layout */

	--sidebar-1-width:                     250px;
	--sidebar-2-width:                     400px;

	--sidebar-1-inset:                     0 auto 0 0;
	--sidebar-2-inset:                     0 0 0 auto;
	--main-inset:                          0 var(--sidebar-2-width) auto var(--sidebar-1-width);

	/****************************************************************************/
	/* Heading */

	--heading-height:                      24px;

	/****************************************************************************/
	/* Search bar */

	--search-bar-height:                   48px;
	--search-bar-icon-height:              24px;
	--search-bar-icon-negative-margin:     calc((var(--search-bar-height) - var(--search-bar-icon-height)) / 2);

	/****************************************************************************/
	/* Sidebar */

	--sidebar-1-width:                     250px;
	--sidebar-2-width:                     400px;

	/****************************************************************************/
	/* Form */

	--form-height:                         32px;
	--form-icon-height:                    20px;
	--form-sm-icon-height:                 6px;
	--form-icon-negative-margin:           calc((var(--form-height) - var(--form-icon-height)) / 2);
	--form-sm-icon-negative-margin:        calc((var(--form-height) - var(--form-sm-icon-height)) / 2);

	--lg-form-height:                      36px;
	--lg-form-icon-height:                 20px;
	--lg-form-sm-icon-height:              6px;
	--lg-form-icon-negative-margin:        calc((var(--lg-form-height) - var(--lg-form-icon-height)) / 2);
	--lg-form-sm-icon-negative-margin:     calc((var(--lg-form-height) - var(--lg-form-sm-icon-height)) / 2);

	--slider-reset-button-height:          16px;
	--slider-track-height:                 6px;
	--slider-thumb-height:                 36px;
	--slider-reset-button-negative-margin: calc((var(--form-height) - var(--slider-reset-button-height)) / 2);
}
