@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:
		hidden  /* X-axis */
		scroll; /* Y-axis */
	overscroll-behavior: none;
}
:root:not(.dark) { color-scheme: light; }
:root.dark       { color-scheme: dark;  }

/* Typography */
:root, ::before, ::after {
	font: 400 14px / 1.625
		var(--font-sans);
}
/* pre code { white-space: pre; } */
/* code     { white-space: pre-wrap; } */
pre, code {
	/* Disable font-smoothing for code */
	-webkit-font-smoothing:  auto;
	-moz-osx-font-smoothing: auto;

	font: 400 13px / 1.625
		var(--font-code);
	tab-size: 2;
}

/* Iconography */
svg { overflow: visible; }
