@use "sass:math"

@use "../globals" as *

$select-height: 28px

////////////////////////////////////////////////////////////////////////////////

.select
  position: relative

.select select
  position: absolute
  height: 100%         // Inherit
  width:  100%         // Inherit
  border-radius: 1e3px // For focus styles
  color: transparent   // 👻

.select-button
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  background-color: $base-color
  border-radius: 1e3px
  box-shadow: $hairline-shadow

.select-button-icon-frame
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  width:  $select-height
  &:first-child
    margin: 0 4px // 🧐

.select-button-start-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  // Defer to [fill=...]

.select-button-end-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-100-color

.select-button-type
  // TYPOGRAPHY
  +typography-reduced-sans
  color: $text-100-color

////////////////////////////////////////////////////////////////////////////////

.action-button
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  width:  $select-height
  border-radius: 1e3px // For focus styles

.action-button-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-100-color
