@use "sass:math"

@use "../globals" as *

.checkboxes .checkboxes
  margin-left: math.div($button-height, 2)

.checkbox
  display: flex
  align-items: center
  margin: -4px 0
  height: $button-height
  border-radius: 1e3px
  cursor: pointer           // Interaction
  -webkit-user-select: none // Interaction
  user-select: none         // Interaction
  &:hover
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200

.checkbox-icon:not(:is([data-type=payments], [data-type=chroma]))
  height: $icon-height
  width: $icon-height
  color: $slate-800
.checkbox-icon[data-type=payments]
  height: $icon-height
  max-width: $icon-height * 1.25
  color: $slate-800
.checkbox-icon[data-type=chroma]
  height: $icon-height
  width: $icon-height
  color: $slate-800
  &[data-prefer-color=false]
    background-color: $slate-800
    // WebKit
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='feather feather-circle' fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10' /%3E%3C/svg%3E")
    -webkit-mask-size: cover
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='feather feather-circle' fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10' /%3E%3C/svg%3E")
    mask-size: cover
  &[data-prefer-color=true]
    background-image: linear-gradient(to right, #ff2e2e, #ffaa00, #f7ff00, #32ff00, #00ffd7, #3d00ff, #a900ff)
    // WebKit
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='feather feather-circle' fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10' /%3E%3C/svg%3E")
    -webkit-mask-size: cover
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='feather feather-circle' fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10' /%3E%3C/svg%3E")
    mask-size: cover

.checkbox-name
  font: 425 16px / normal $sans
  font-feature-settings: 'tnum'
  color: $slate-800
