@use "sass:math"

@use "../globals" as *

// <div class="color-picker">
//   <div class="react-colorful-container">
//     <div class="react-colorful">…</div>
//   </div>
// </div>

.react-colorful:focus-visible,
.react-colorful:focus-visible
  outline: none

.color-picker
  position: relative
  margin: 0 4px // Compensate for box-shadow
  height: 16px
  width: 16px
  background-image: linear-gradient(to right, #f00, #fc0, #ff0, #0f0, #0cf, #00f, #80f)
  border-radius: 1e3px
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--app-color, $brand-color)
  cursor: pointer   // Interaction
  user-select: none // Interaction

.react-colorful-container
  position: absolute
  //// inset: -4px 24px auto auto
  inset: -4px -4px auto auto
  z-index: 100

.react-colorful
  border-radius: 12px
  box-shadow: $realistic-shadow
