@use "sass:math"

@use "../globals" as *

$select-height: 28px

label.export-as
  display: inline-block // CSS reset
.export-as
  position: relative

.export-as select
  position: absolute
  height: 100% // Inherit
  width:  100% // Inherit
  opacity: 0.01
  //// cursor: pointer
  //// &:hover + .export-as-button
  ////   background-color: $slate-100
  &:hover:active + .export-as-button
    //// background-color: $slate-100

// TODO: Defer to <button>
// TODO: pointer-events?
.export-as-button
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  //// pointer-events: none // Passthrough to <select>

.export-as-button-type
  +typography-reduced-sans
  //// text-align: center
  color: $primary-text-color

.export-as-button-icon-frame
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  width:  $select-height
  &:first-child
    margin-left:  math.div($select-height, 8) // 🧐
  &:last-child
    margin-right: math.div($select-height, 8) // 🧐

.export-as-button-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $tertiary-text-color
