@use "sass:math"

@use "../../css/globals" as *

// <label class="export-as">
//   <select>…</select>
//   <div class="export-as-button">
//     <span class="export-as-button-name">…</span>
//     <span class="export-as-button-icon">…</span>
//   </div>
// </label>

label.export-as
  display: inline-block // CSS reset
.export-as
  position: relative

.export-as select
  position: absolute
  height: 100% // Inherit
  width: 100%  // Inherit
  opacity: 0.01
  cursor: pointer
  &:hover + .export-as-button
    background-color: $slate-100
  &:hover:active + .export-as-button
    background-color: $slate-200

.export-as-button
  display: flex
  justify-content: center
  align-items: center
  padding: 0 math.div(28px, 2)
  height: 28px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  pointer-events: none // Passthrough to <select>

.export-as-button-name
  font: 425 13px / 1.25 $sans
  text-align: center
  color: $slate-800

// TODO: Use :last-child here?
.export-as-button-icon
  margin-left: math.div(28px - 12px, 2)
  height: 12px
  width: 12px
  color: $slate-800
