@use "sass:math"

@use "../globals" as *

$select-height: 28px

label.export-as
  display: inline-block // CSS reset
.export-as
  position: relative

.export-as select
  position: absolute
  height: 100% // Inherit
  width: 100%  // Inherit
  opacity: 0.01
  cursor: pointer
  &:hover + .export-as-button
    background-color: $slate-100
  &:hover:active + .export-as-button
    background-color: $slate-200

  @at-root
    .export-as-button
      display: inline-flex
      justify-content: center
      align-items: center
      padding: 0 math.div($select-height, 2)
      height: $select-height
      border-radius: 1e3px
      box-shadow: $inset-hairline-shadow
      pointer-events: none // Passthrough to <select>

      @at-root
        .export-as-name
          font: 425 13px / 1.25 $sans
          text-align: center
          color: $slate-800

        // TODO: Change to align-frame pattern here
        .export-as-icon
          margin-left: math.div($select-height - $tiny-icon-height, 2)
          height: $tiny-icon-height
          width: $tiny-icon-height
          color: $slate-800
