@use "sass:math"

@use "../globals" as *

$sidebar-1-width:     16px * 18
$sidebar-1-max-width: $sidebar-1-width * 1.5

$sidebar-2-width:     16px * 22
$sidebar-2-max-width: $sidebar-2-width * 1.5

$sidebar-z-index:     50
$sidebar-max-z-index: 100

.sidebar
  // Expose CSS variables for getCssVarAsNumber
  &[data-pos=start]
    --__width:     #{$sidebar-1-width}
    --__max-width: #{$sidebar-1-max-width}
  &[data-pos=end]
    --__width:     #{$sidebar-2-width}
    --__max-width: #{$sidebar-2-max-width}

  position: fixed
  &[data-pos=start]
    inset: 0 auto 0 0
  &[data-pos=end]
    inset: 0 0 0 auto

  &:not(:is([data-state=maximized], [data-transition=true]))
    z-index: $sidebar-z-index
  &:is([data-state=maximized], [data-transition=true])
    z-index: $sidebar-max-z-index

  display: flex          // Forward height
  flex-direction: row    // Forward height

  // Start
  &[data-pos=start]:not(:is([data-state=minimized], [data-state=maximized]))
    transform: translateX(calc(-1 * ($sidebar-1-max-width - $sidebar-1-width) + var(--__x)))
  &[data-pos=start][data-state=minimized]
    transform: translateX(calc(-1 * $sidebar-1-max-width + var(--__x)))
  &[data-pos=start][data-state=maximized]
    transform: translateX(var(--__x))

  // End
  &[data-pos=end]:not(:is([data-state=minimized], [data-state=maximized]))
    transform: translateX(calc($sidebar-2-max-width - $sidebar-2-width + var(--__x)))
  &[data-pos=end][data-state=minimized]
    transform: translateX(calc($sidebar-2-max-width + var(--__x)))
  &[data-pos=end][data-state=maximized]
    transform: translateX(var(--__x))

.sidebar[data-transition=true]
  transition: transform 600ms cubic-bezier(0, 1, 0.25, 1)

////////////////////////////////////////////////////////////////////////////////

.sidebar-drag-area
  position: absolute
  .sidebar[data-pos=start] &
    inset: 0 auto 0 100%
  .sidebar[data-pos=end] &
    inset: 0 100% 0 auto
  display: flex
  justify-content: center
  align-items: center
  width: 24px
  &:not(:hover:active)
    cursor: grab
  &:hover:active
    cursor: grabbing
  -webkit-user-select: none
  user-select: none

.sidebar-drag-area-grip
  height: 4px * 12
  width: 4px
  background-color: hsl(0, 0%, 0%, 0.25)
  border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.sidebar-card
  display: flex
  .sidebar[data-pos=start] &
    justify-content: flex-end
    width: $sidebar-1-max-width
  .sidebar[data-pos=end] &
    justify-content: flex-start
    width: $sidebar-2-max-width
  background-color: white
  box-shadow: 0 0 0 1px hsl(0, 0%, 0%, 0.1)

.sidebar-card-body
  display: flex          // Forward height
  flex-direction: column // Forward height

  // Start
  .sidebar[data-pos=start]:not([data-state=maximized]) &
    width: $sidebar-1-width
  .sidebar[data-pos=start][data-state=maximized] &
    width: $sidebar-1-max-width

  // End
  .sidebar[data-pos=end]:not([data-state=maximized]) &
    width: $sidebar-2-width
  .sidebar[data-pos=end][data-state=maximized] &
    width: $sidebar-2-max-width

////////////////////////////////////////////////////////////////////////////////

// Nested components e.g. .sidebar-head, .sidebar-body, and .sidebar-foot
// https://codepen.io/zaydek/pen/gOdeVWJ?editors=1100
//
.sidebar-head
  position: sticky
  top: 0
  display: flex
  flex-direction: column
  background-color: white
  overflow-y: auto

.sidebar-head-body
  overflow-y: auto

.sidebar-body
  display: flex
  flex-direction: column

.sidebar-foot
  position: sticky
  bottom: 0
  z-index: 20
  margin-top: auto

////////////////////////////////////////////////////////////////////////////////

.sidebar-overlay
  position: fixed
  inset: 0
  z-index: math.div($sidebar-z-index + $sidebar-max-z-index, 2)
  background-color: hsl(0, 0%, 0%, 0.25)
  &[data-open=false]
    backdrop-filter: blur(0px)
    opacity: 0
    cursor: null
    pointer-events: none
  &[data-open=true]
    backdrop-filter: blur(2px)
    opacity: 1
    cursor: pointer
    pointer-events: null

  transition: backdrop-filter 600ms cubic-bezier(0, 1, 0.25, 1), opacity 600ms cubic-bezier(0, 1, 0.25, 1)

////////////////////////////////////////////////////////////////////////////////

.main
  --__left:  #{$sidebar-1-width}
  --__right: #{$sidebar-2-width}
  position: absolute
  inset: 0 var(--__right) 0 var(--__left)
  .sidebar[data-pos=start][data-state=minimized] ~ &
    --__left:  0
  .sidebar[data-pos=end][data-state=minimized] ~ &
    --__right: 0
