@use "sass:math"

@use "../globals" as *

$main-grid-item-height:       128px
$main-grid-item-aspect-ratio: 1.375

.main-grid
  display: grid
  grid-template-columns: repeat(auto-fill, $main-grid-item-height)
  justify-content: center
  gap: 8px 16px
  //// &[data-prefer-names=false]
  ////   gap: 16px
  //// &[data-prefer-names=true]
  ////   gap: 8px 16px
  //// padding: $sidebar-padding-y 24px // E.g. .sidebar-drag-area
  padding: $sidebar-padding-y 24px + $sidebar-padding-x // E.g. .sidebar-drag-area

////////////////////////////////////////////////////////////////////////////////

.sk-main-grid-item
  display: flex
  flex-direction: column
  gap: 8px

.sk-main-grid-item-frame
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: $main-grid-item-aspect-ratio
  //// background-color: $form-color
  border-radius: 4px
  box-shadow: $inset-hairline-shadow

.sk-main-grid-item-icon
  height: 24px
  width:  24px
  background-color: $tertiary-text-color
  border-radius: 1e3px
  transform: scale(calc(var(--size) / 24))
  stroke-width: var(--stroke-width) // stylelint-disable-line order/properties-order

.sk-main-grid-item-type-container
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  height: 32px

.sk-main-grid-item-type
  margin-top: -1 * math.div(32px - 4px, 2)
  height: 4px
  width:  8px * 6
  background-color: $tertiary-text-color
  border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.main-grid-item
  display: flex
  flex-direction: column
  gap: 8px

// TODO: Defer to <button>
.main-grid-item-icon-frame
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: $main-grid-item-aspect-ratio
  //// background-color: $form-color
  border-radius: 4px

  //// //// &:hover
  //// ////   background-color: $hover-color
  //// &:hover:active
  ////   background-color: $brand-color

  .main-grid-item[data-selected=false] &
    box-shadow: $inset-hairline-shadow
  .main-grid-item[data-selected=true] &
    box-shadow: inset 0 0 0 4px $brand-color

.main-grid-item-icon
  min-height: 24px
  max-height: 24px * math.div(56, 32)
  min-width:  24px
  max-width:  24px * math.div(56, 32)
  color: $primary-text-color
  transform: scale(calc(var(--size) / 24))
  stroke-width: var(--stroke-width) // stylelint-disable-line order/properties-order

.main-grid-item-type
  display: -webkit-box         // Clamp
  -webkit-line-clamp: 2        // Clamp
  -webkit-box-orient: vertical // Clamp
  overflow: hidden             // Clamp
  height: 32px
  +typography-reduced-sans
  text-align: center
  color: $secondary-text-color
  & > span
    -webkit-user-select: all   // Interaction
    user-select: all           // Interaction
