@use "sass:math"

@use "../globals" as *

.resource
  display: flex
  align-items: center
  margin: -4px 0
  height: $button-height
  border-radius: 1e3px
  &:hover
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200

  @at-root
    .resource-icon-frame
      display: flex
      justify-content: center // Center all
      align-items: center     // Center all
      height: $button-height
      width: $button-height
      .resource-icon
        &:first-child
          height: $icon-height
          width: $icon-height
          color: $slate-800
        &:last-child
          height: $icon-height
          width: $icon-height
          color: $slate-400

  @at-root
    .resource-name
      font: 425 16px / normal $sans
      color: $slate-800
