@use "sass:math"

@use "../globals" as *

.resource
  display: flex
  align-items: center
  margin: -4px 0
  height: $button-height
  border-radius: 1e3px
  &:hover
    background-color: $hover-color
  &:hover:active
    background-color: $hover-active-color

.resource-icon
  height: $icon-height
  width:  $icon-height
  color:  $primary-text-color
  &:last-child
    color: $tertiary-text-color

// TODO: Rename -name to -type
.resource-name
  flex: 1
  +typography-sans
  color: $primary-text-color
