@use "sass:math"

@use "../globals" as *

.resource
  display: flex
  align-items: center
  margin: -4px 0
  height: $button-height
  border-radius: 1e3px
  &:hover
    background-color: $hover-color
  &:hover:active
    background-color: $hover-active-color

.resource-start-icon
  height: $button-icon-height
  width:  $button-icon-height
  color:  $text-100-color

.resource-end-icon
  height: $button-icon-height
  width:  $button-icon-height
  color:  $text-400-color

.resource-type
  flex: 1
  +typography-sans
  color:  $text-100-color
