@use "sass:math"

@use "../globals" as *

.search-bar
  display: flex
  align-items: center
  height: $button-height
  background-color: $hover-active-color
  border-radius: 1e3px
  cursor: text // Interaction

.search-bar-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-200-color

.search-bar input[type=text]
  align-self: stretch // Stretch y-axis
  // TYPOGRAPHY
  +typography-sans
  color: $text-100-color
  &::placeholder
    color: $text-300-color
  &:focus-visible::placeholder
    color: transparent
