@use "sass:math"

@use "../globals" as *

.search-bar
  display: flex
  align-items: center
  height: $button-height
  background-color: $slate-200
  border-radius: 1e3px
  cursor: text // Interaction
  &:is(:hover, :focus-within)
    background-color: white
    box-shadow: $inset-hairline-shadow
  @at-root
    .search-bar-icon
      height: 16px
      width: 16px
      color: $slate-400
    .search-bar input[type=text]
      align-self: stretch // Stretch y-axis
      font: 425 16px / normal $sans
      color: $slate-800
      &::placeholder
        color: $slate-500
      &:focus-visible::placeholder
        opacity: 0
