@use "sass:math"

@use "../globals" as *

.search-bar
  display: flex
  align-items: center
  height: $button-height
  background-color: $slate-200
  border-radius: 1e3px
  cursor: text // Interaction
  &:is(:hover, :focus-within)
    background-color: $base-color
    box-shadow: $inset-hairline-shadow

.search-bar-icon
  height: 16px
  width: 16px
  color: $slate-400

.search-bar input[type=text]
  flex: 1             // Stretch x-axis
  align-self: stretch // Stretch y-axis
  +typography-sans
  color: $slate-800
  &::placeholder
    color: $slate-500
  &:focus-visible::placeholder
    opacity: 0
