@use "sass:math"

@use "../globals" as *

////////////////////////////////////////////////////////////////////////////////

.section
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  //// &:not(:is([data-pos=start], [data-pos=syntax-highlighting], [data-pos=end]))
  padding: $sidebar-gap $sidebar-padding-x

  // Overrides -- don't use (:not(:is(...)))
  &[data-pos=start]
    isolation: isolate // Needed because of box-shadow
    padding-top: $sidebar-padding-y
    &:has(+ [data-scroll=true])
      box-shadow: $hairline-shadow-bottom
  &[data-pos=checkboxes]
    padding-top: 0
  &[data-pos=syntax-highlighting]
    padding: 0
    padding-bottom: $sidebar-gap
  &[data-pos=end]
    padding-bottom: $sidebar-gap

.section-head
  display: flex
  align-items: center
  height: 24px
  background-color: white

.TEST_section-head
  padding: $sidebar-gap $sidebar-padding-x
  &[data-pos=start]
    padding-top: $sidebar-padding-y

  // TODO: Add data-pos overrides here
  // TODO: Rename to data-override?
  //// padding-bottom: 0

.TEST_section-body
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  //// padding: 0 $sidebar-padding-x
  padding: $sidebar-gap $sidebar-padding-x
  padding-top: 0
  // TODO: Add data-pos overrides here
  // TODO: Rename to data-override?
  overflow-y: scroll

//// .TEST_section-foot
////   padding: $sidebar-gap $sidebar-padding-x
////   // TODO: Add data-pos overrides here
////   // TODO: Rename to data-override?
////   padding-top: 0

////////////////////////////////////////////////////////////////////////////////

// These are optical alignment utilities. They align children to be optically
// aligned.
//
//// // TODO: Rename to .section-align-frame?
.section-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)
  // TODO: Why omit height here?
  //// height: $button-height

//// // TODO: Rename to .section-align-icon-frame?
.section-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  height: $button-height
  width: $button-height

////////////////////////////////////////////////////////////////////////////////

.section-icon
  height: $tiny-icon-height
  width: $tiny-icon-height
  color: $slate-600

.section-name
  flex: 1
  +typography-caps
  color: $slate-600

// Rename to section-number?
.section-number-desc
  display: flex
  justify-content: center
  align-items: center
  height: 24px
  width: 56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  +typography-caps
  color: $slate-800
  -webkit-user-select: all // Interaction
  user-select: all         // Interaction

// TODO: Wrap <button>
.section-reset-icon
  height: $tiny-icon-height
  width: $tiny-icon-height
  color: $slate-300
  // TODO: Defer to <button>
  //// cursor: pointer           // Interaction
  //// -webkit-user-select: none // Interaction
  //// user-select: none         // Interaction
  &:hover
    color: $slate-800
