@use "sass:math"

@use "../globals" as *

////////////////////////////////////////////////////////////////////////////////

.optical-alignment-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)

.optical-alignment-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  height: $button-height
  width: $button-height

////////////////////////////////////////////////////////////////////////////////

.widget-head
  padding: $sidebar-gap $sidebar-padding-x
  &[data-pos=start]
    padding-top: $sidebar-padding-y

.widget-body
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  padding-top: 0
  &[data-override=syntax-highlighting]
    padding: 0

  // TODO: Add data-pos overrides here
  // TODO: Rename to data-override?
  overflow-y: auto // TOOD

////////////////////////////////////////////////////////////////////////////////

.widget-name
  display: flex
  align-items: center
  height: 24px
  background-color: white

.widget-name-icon-1
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-600

.widget-name-type
  flex: 1
  +typography-caps
  color: $slate-600

.widget-name-number-type
  display: flex
  justify-content: center
  align-items: center
  height: 24px
  width: 56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  +typography-caps
  color: $slate-800
  -webkit-user-select: all // Interaction
  user-select: all         // Interaction

// TODO
.widget-name-icon-2
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-300
  &:hover
    color: $slate-800
