@use "sass:math"

@use "../globals" as *

$select-height: 28px

.select
  position: relative

.select select
  position: absolute
  height: 100%       // Inherit
  width:  100%       // Inherit
  border-radius: 1e3px
  color: transparent // 👻

.select-button
  display: flex
  justify-content: center
  align-items: center
  //// padding: 0 4px // Nudge
  height: $select-height
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow

.select-button-type
  // TYPOGRAPHY
  +typography-reduced-sans
  color: $text-100-color

.select-button-icon-frame
  display: flex
  justify-content: center
  align-items: center
  height: $select-height
  width:  $select-height

.select-button-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-100-color
