@use "sass:math"

$sidebar-1-width:     16px * 18
$sidebar-1-max-width: $sidebar-1-width * 1.5

$sidebar-2-width:     16px * 22
$sidebar-2-max-width: $sidebar-2-width * 1.5

$sidebar-z-index:     50
$sidebar-max-z-index: 100

.sidebar
  // Expose CSS variables for getCssVarAsNumber
  &.start
    --__width:     var(--sidebar-1-width)
    --__max-width: var(--sidebar-1-max-width)
  &.end
    --__width:     var(--sidebar-2-width)
    --__max-width: var(--sidebar-2-max-width)

  position: fixed
  &.start
    inset: 0 auto 0 0
  &.end
    inset: 0 0 0 auto

  &:not(:is(.maximized, .transition))
    z-index: $sidebar-z-index
  &:is(.maximized, .transition)
    z-index: $sidebar-max-z-index

  display: flex          // Forward height
  flex-direction: row    // Forward height

  // Start
  &.start:not(:is(.minimized, .maximized))
    transform: translateX(calc(-1 * ($sidebar-1-max-width - $sidebar-1-width) + var(--__x)))
  &.start.minimized
    transform: translateX(calc(-1 * $sidebar-1-max-width + var(--__x)))
  &.start.maximized
    transform: translateX(var(--__x))

  // End
  &.end:not(:is(.minimized, .maximized))
    transform: translateX(calc($sidebar-2-max-width - $sidebar-2-width + var(--__x)))
  &.end.minimized
    transform: translateX(calc($sidebar-2-max-width + var(--__x)))
  &.end.maximized
    transform: translateX(var(--__x))

.sidebar.transition
  transition: transform 600ms cubic-bezier(0, 1, 0.25, 1)

////////////////////////////////////////////////////////////////////////////////

.sidebar-drag-area
  position: absolute
  .sidebar.start &
    inset: 0 auto 0 100%
  .sidebar.end &
    inset: 0 100% 0 auto
  display: flex
  justify-content: center
  align-items: center
  width: 32px
  &:not(:hover:active)
    cursor: grab
  &:hover:active
    cursor: grabbing
  -webkit-user-select: none
  user-select: none

.sidebar-drag-area-handle
  height: 6px * 8
  width: 6px
  background-color: hsl(0, 0%, 0%, 0.25)
  border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.sidebar-card
  display: flex
  .sidebar.start &
    justify-content: flex-end
    width: $sidebar-1-max-width
  .sidebar.end &
    justify-content: flex-start
    width: $sidebar-2-max-width
  background-color: white
  box-shadow: 0 0 0 1px hsl(0, 0%, 0%, 0.1)
.sidebar-card-body
  display: flex          // Forward height
  flex-direction: column // Forward height

  // Start
  .sidebar.start:not(.maximized) &
    width: $sidebar-1-width
  .sidebar.start.maximized &
    width: $sidebar-1-max-width

  // End
  .sidebar.end:not(.maximized) &
    width: $sidebar-2-width
  .sidebar.end.maximized &
    width: $sidebar-2-max-width

////////////////////////////////////////////////////////////////////////////////

.sidebar-overlay
  position: fixed
  inset: 0
  z-index: math.div($sidebar-z-index + $sidebar-max-z-index, 2)
  background-color: hsl(0, 0%, 0%, 0.25)
  //// backdrop-filter: blur(2px)
  &:not(.open)
    opacity: 0
    cursor: null
    pointer-events: none
  &.open
    opacity: 1
    cursor: pointer
    pointer-events: null

  transition: opacity 600ms cubic-bezier(0, 1, 0.25, 1)

////////////////////////////////////////////////////////////////////////////////

$left:  var(--__left)
$right: var(--__right)

.main
  --__left:  #{$sidebar-1-width}
  --__right: #{$sidebar-2-width}
  position: absolute
  inset: 0 $right auto $left
  .sidebar.start.minimized ~ &
    --__left:  0
  .sidebar.end.minimized ~ &
    --__right: 0
