@use "sass:math"

@use "../globals" as *

// <div class="sidebar-header">
//   ...
// </div>
// <div class="sidebar-scroll-area">
//   ...
// </div>
// <div class="sidebar-footer">
//   ...
// </div>
//
.sidebar-header
  position: sticky
  top: 0
  background-color: white
.sidebar-scroll-area
  overflow-y: auto
.sidebar-footer
  position: sticky
  bottom: 0
  z-index: 20
  margin-top: auto
  background-color: white

.sidebar-align-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)
  //// height: $button-height
.sidebar-align-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  height: $button-height
  width: $button-height
