@use "sass:math"

@use "../globals" as *

pre.syntax-highlighting
  margin: 0 // CSS reset
.syntax-highlighting
  overflow-x: scroll // COMPAT/Windows
  code
    display: inline-block
    padding: 0 24px + 5px // 🧐
    font: 500 13px / 1.375 $code
    color: $slate-600
    a
      text-decoration: underline
