@use "sass:math"

@use "../globals" as *

pre.syntax-highlighting
  margin: 0 // CSS reset
.syntax-highlighting
  overflow-x: scroll // COMPAT/Windows
  code
    display: inline-block
    padding: 0 24px + 5px // 🧐
    font: 500 13px / 1.375 $code
    font-feature-settings: 'tnum'
    color: $slate-600
    a
      text-decoration: underline
      color: $brand-color

.action-buttons
  //// position: sticky
  //// bottom: 0
  display: flex
  gap: 12px
  padding: 0 ($button-height - $tiny-icon-height)

.action-button
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  height: 32px
  background-color: $slate-200
  //// background-color: white
  border-radius: 1e3px
  //// box-shadow: $inset-hairline-shadow, $realistic-shadow
  /// box-shadow: $inset-hairline-shadow
  //// &:hover
  ////   background-color: $slate-300
  &:hover:active
    background-color: $slate-300
.action-button-icon-frame
  display: flex
  justify-content: flex-start
  align-items: center
  height: 32px
  width: 32px - math.div($tiny-icon-height, 1.5)
.action-button-icon
  height: $tiny-icon-height
  width: $tiny-icon-height
  color: $slate-800
.action-button-name
  font: 425 13px / 1.25 $sans
  font-feature-settings: 'tnum'
  //// text-align: center
  color: $slate-800
  //// font: 500 11px / normal $sans
  //// letter-spacing: 0.05em
  //// text-transform: uppercase
  //// color: $slate-600
