@use "sass:math"

@use "../globals" as *

////////////////////////////////////////////////////////////////////////////////

.widget-align-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)

.widget-align-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  margin: 0 math.div($button-height - 24px, 2)
  height: 24px
  width: 24px
  border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.widget-head
  padding: $sidebar-gap $sidebar-padding-x
  &[data-has=start]
    isolation: isolate // For box-shadow (see .checkboxes)
    padding-top: $sidebar-padding-y
  &:has(+ [data-scroll=true]) // Don't use :has (because of FF) but no choice
    box-shadow: $hairline-shadow-bottom

.widget-body
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  &[data-has=syntax-highlighting]
    padding: 0
  &[data-has=end]
    padding-bottom: $sidebar-padding-y
  padding-top: 0
  .sidebar-head &
    overflow-y: auto

// Create a container because of added padding-bottom (overflow-y must be separated)
.widget-syntax-highlighting-container
  padding-bottom: $sidebar-gap

////////////////////////////////////////////////////////////////////////////////

// <div class="widget-name">
//   <div class="widget-align-icon-frame">
//     <div class="widget-name-icon-1"></div>
//   </div>
//   <div class="widget-name-type">…</div>
//   [<div class="widget-name-number-type">…</div>]
//   [<div class="widget-align-icon-frame">
//     <div class="widget-name-icon-2"></div>
//   </div>]
// </div>
//
.widget-name
  display: flex
  align-items: center
  height: 24px
  background-color: white

.widget-name-icon-1
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-600

.widget-name-type
  flex: 1
  +typography-caps
  color: $slate-600

.widget-name-number-type
  display: flex
  justify-content: center
  align-items: center
  height: 24px
  width: 56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  +typography-caps
  color: $slate-800
  -webkit-user-select: all // Interaction
  user-select: all         // Interaction

.widget-name-icon-2
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-300
  button:hover &
    color: $slate-800
