@use "sass:math"

@use "../globals" as *

////////////////////////////////////////////////////////////////////////////////

// Optical alignment frames
.widget-align-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)

.widget-align-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  height: $button-height
  width: $button-height

////////////////////////////////////////////////////////////////////////////////

.widget-head
  padding: $sidebar-gap $sidebar-padding-x
  // Overrides, don't use these :not([data-has])
  &[data-has=start]
    padding-top: $sidebar-padding-y
  // Don't use has here (because of FF) but no choice
  &:has(+ [data-scroll=true])
    isolation: isolate // Needed for box-shadow (see .checkboxes)
    box-shadow: $hairline-shadow-bottom

.widget-body
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  // Overrides, don't use these :not([data-has])
  &[data-has=syntax-highlighting]
    padding: 0
  &[data-has=end]
    padding-bottom: $sidebar-padding-y
  padding-top: 0
  overflow-y: auto

// Create a container because of added padding-bottom (overflow-y must be
// separated)
.widget-syntax-highlighting-container
  padding-bottom: $sidebar-gap

////////////////////////////////////////////////////////////////////////////////

.widget-name
  display: flex
  align-items: center
  height: 24px
  background-color: white

.widget-name-icon-1
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-600

.widget-name-type
  flex: 1
  +typography-caps
  color: $slate-600

.widget-name-number-type
  display: flex
  justify-content: center
  align-items: center
  height: 24px
  width: 56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  +typography-caps
  color: $slate-800
  -webkit-user-select: all // Interaction
  user-select: all         // Interaction

// TODO
.widget-name-icon-2
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $slate-300
  &:hover
    color: $slate-800
