@use "sass:math"

@use "../globals" as *

////////////////////////////////////////////////////////////////////////////////

.widget-align-frame
  display: flex
  flex-direction: column
  justify-content: center // Center y-axis
  padding: 0 math.div($button-height - $tiny-icon-height, 2)

.widget-align-icon-frame
  display: flex
  justify-content: center // Center x-axis
  align-items: center     // Center y-axis
  margin: 0 math.div($button-height - 24px, 2)
  height: 24px
  width:  24px
  border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.widget-head
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x

  &[data-pos=start]
    padding-top: $sidebar-padding-y
  &[data-pos=search-bar]
    padding-top: $sidebar-padding-y
    padding-bottom: $sidebar-gap + 4px // 🧐
  &:has(+ [data-scroll=true]) // TODO: Change to [data-has]
    isolation: isolate // Preserve box-shadow
    box-shadow: $hairline-shadow-bottom

.widget-body
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  padding-top: 0

  &[data-pos=start]
    padding-top: $sidebar-padding-y
  &[data-pos=syntax-highlighting]
    padding: 0
  &[data-pos=end]
    padding-bottom: $sidebar-padding-y
  .sidebar-head &
    overflow-y: auto

// Create a container because of added padding-bottom (overflow-y must be separated)
.widget-syntax-highlighting-container
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding-bottom: $sidebar-gap

////////////////////////////////////////////////////////////////////////////////

// <div class="widget-name">
//   <div class="widget-align-icon-frame">
//     <div class="widget-name-start-icon"></div>
//   </div>
//   <div class="widget-name-type">…</div>
//   [<div class="widget-name-range-type">…</div>]
//   [<div class="widget-align-icon-frame">
//     <div class="widget-name-end-icon"></div>
//   </div>]
// </div>
//
.widget-name
  display: flex
  align-items: center
  height: 24px
  background-color: $base-color

.widget-name-start-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-200-color

.widget-name-end-icon
  height: $tiny-icon-height
  width:  $tiny-icon-height
  color:  $text-400-color
  button:hover &
    color: $text-100-color

.widget-name-type
  flex: 1
  // TYPOGRAPHY
  +typography-caps
  color: $text-200-color

.widget-name-range-type
  display: flex
  justify-content: center
  align-items: center
  height: 24px
  width:  56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  // TYPOGRAPHY
  +typography-caps
  color: $text-200-color
