@use "sass:math"

@use "../globals" as *

$radio-height:              24px
$radio-transition-duration: 75ms

input[type=radio]
  position: relative
  height: $radio-height
  width: $radio-height
  background-color: $form-color
  border-radius: 1e3px
  &:not(:checked)
    box-shadow: $hairline-shadow, $realistic-shadow
  &:checked
    box-shadow: $realistic-shadow
  &::before
    content: ""        // Pseudo reset
    position: absolute // Pseudo reset
    inset: 0           // Pseudo reset
    background-color: $brand-color
    border-radius: inherit
    transform: scale(0)
    opacity: 0
    transition: transform $radio-transition-duration cubic-bezier(0, 1, 0, 1.25), opacity $radio-transition-duration cubic-bezier(0, 1, 0, 1.25)
    @at-root
      input[type=radio]:checked::before
        transform: scale(1)
        opacity: 1
  &::after
    content: ""        // Pseudo reset
    position: absolute // Pseudo reset
    inset: 0           // Pseudo reset
    margin: auto       // Pseudo reset
    height: 8px
    width: 8px
    background-color: white
    border-radius: 1e3px
    transform: scale(0)
    opacity: 0
    transition: transform $radio-transition-duration * 1.5 cubic-bezier(0, 1, 0, 1.25), opacity $radio-transition-duration * 1.5 cubic-bezier(0, 1, 0, 1.25)
    @at-root
      input[type=radio]:checked::after
        transform: scale(1)
        opacity: 1
