@use "sass:math"

@use "../globals" as *

$slider-track-height: 6px
$slider-thumb-height: 32px

input[type=range]
  height: $slider-thumb-height

  // COMPAT/WebKit
  &::-webkit-slider-runnable-track
    appearance: none // CSS reset
    height: $slider-track-height
    background-image: linear-gradient(to right, $brand-color var(--progress, 50%), $soft-hairline-color var(--progress, 50%))
    border-radius: 1e3px
  &::-webkit-slider-thumb
    appearance: none // CSS reset
    margin-top: -1 * math.div($slider-thumb-height - $slider-track-height, 2)
    height: $slider-thumb-height
    width: $slider-thumb-height
    background-color: $form-color
    border-radius: 1e3px
    box-shadow: $hairline-shadow, $realistic-shadow

  // COMPAT/Gecko
  &::-moz-range-track
    appearance: none // CSS reset
    height: $slider-track-height
    background-image: linear-gradient(to right, $brand-color var(--progress, 50%), $soft-hairline-color var(--progress, 50%))
    border-radius: 1e3px
  &::-moz-range-thumb
    appearance: none // CSS reset
    border: none     // CSS reset
    margin-top: -1 * math.div($slider-thumb-height - $slider-track-height, 2)
    height: $slider-thumb-height
    width: $slider-thumb-height
    background-color: $form-color
    border-radius: var(--progress, 50%)
    box-shadow: $hairline-shadow, $realistic-shadow
