@use "sass:math"

@use "../css/globals" as *

////////////////////////////////////////

.checkboxes .checkboxes
  margin-left: math.div($button-height, 2)

////////////////////////////////////////

button.checkbox
  width: 100% // CSS reset
.checkbox
  display: flex
  align-items: center
  margin: -4px 0
  height: $button-height
  border-radius: 1e3px
  cursor: pointer           // Interaction
  -webkit-user-select: none // Interaction
  user-select: none         // Interaction
  &:is(:hover, :focus-visible)
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200

////////////////////////////////////////

.checkbox-icon:not([data-type=checkbox])
  margin: 0 math.div($button-height - $icon-height, 2)
  height: $icon-height
  width: $icon-height
  color: $slate-800
  //// color: dodgerblue

// Off
.checkbox-icon[data-type=checkbox][data-checked=false]
  margin: 0 math.div($button-height - 16px, 2)
  height: 16px
  width: 16px
  background-color: revert
  background-image: linear-gradient(to right, #f00, #fc0, #ff0, #0f0, #0cf, #00f, #80f)
  border-radius: 1e3px
  box-shadow: 0 0 0 2px white, 0 0 0 4px $brand-color

//// // On
//// .checkbox-icon[data-type=checkbox][data-checked=true]
////   margin: 0 math.div($button-height - 24px, 2)
////   height: 24px
////   width: 24px
////   background-color: $hairline-color
////   background-image: revert
////   border-radius: 1e3px
////   box-shadow: revert

// On
.checkbox-icon[data-type=checkbox][data-checked=true]
  margin: 0 math.div($button-height - 16px, 2)
  height: 16px
  width: 16px
  background-color: $hairline-color
  background-image: revert
  border-radius: 1e3px
  //// box-shadow: revert
  box-shadow: 0 0 0 2px white, 0 0 0 4px $hairline-color

.checkbox-name
  flex: 1 // Stretch x-axis
  font: 425 16px / normal $sans
  color: $slate-800

.checkboxes input[type=checkbox]
  margin: 0 math.div($button-height - 24px, 2)

.checkboxes input[type=radio]
  margin: 0 math.div($button-height - 24px, 2)
