@use "sass:math"

@use "../css/globals" as *

$icon-height: $generic-button-icon-height

.checkbox-list
  & &
    margin-left: math.div($generic-button-height, 2)

.checkbox-item
  display: flex
  align-items: center
  margin: -8px 0
  height: $generic-button-height
  border-radius: 1e3px
  cursor: pointer   // Interaction styles
  user-select: none // Interaction styles
  &:is(:hover, :has(:focus-visible))
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200
  svg:nth-child(1)
    margin: math.div($generic-button-height - $icon-height, 2)
    height: $icon-height
    width: $icon-height
    color: $slate-800
  span
    flex: 1 // Stretch x-axis
    font: 450 15px / normal 'Inter var experimental'
    color: $slate-800
  input[type=checkbox]
    margin: 0 sidebar-keyline(24px)
