@use "sass:math"

@use "../css/globals" as *

$grid-item-height:       128px
$grid-item-aspect-ratio: 3 / 2

$bookmark-icon-height: 12px

.grid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax($grid-item-height, 1fr))
  justify-content: center
  gap: 16px

.grid-item
  display: flex
  justify-content: center
  article
    position: relative
    display: flex
    flex-direction: column
    gap: 8px
    width: $grid-item-height
    // Defer aspect-ratio
    figure
      display: flex
      justify-content: center
      align-items: center
      aspect-ratio: $grid-item-aspect-ratio
      background-color: white
      border-radius: 2px
      box-shadow: inset 0 0 0 1px mix($gray-200, $gray-300)
      cursor: pointer   // Interaction styles
      user-select: none // Interaction styles
      svg
        min-height: 28px
        max-height: 28px * math.div(56, 32)
        min-width:  28px
        max-width:  28px * math.div(56, 32)
        color: $gray-800
    figcaption
      // Clamp
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
      height: 32px
      font: 450 13px / 1.25 'Inter var experimental'
      text-align: center
      color: $gray-800
      user-select: all // Select all on click
    .bookmark
      position: absolute
      inset: 0 0 auto auto
      margin: math.div(32px - $bookmark-icon-height, 2)
      height: $bookmark-icon-height
      width: $bookmark-icon-height
      color: $amber-400
      @at-root
        .grid-item:not([data-bookmark]) .bookmark
          display: none
