@use "sass:math"

@use "../css/globals" as *

$grid-item-height:       128px
$grid-item-aspect-ratio: 1.375
$grid-item-gap:          16px

$bookmark-icon-frame-height: 32px + 4px
$bookmark-icon-height:       12px

.grid
  display: grid
  grid-template-columns: repeat(auto-fill, $grid-item-height)
  justify-content: center
  gap: $grid-item-gap

.grid-item
  position: relative
  display: flex
  flex-direction: column
  gap: 8px
  width: $grid-item-height
  figure
    display: flex
    justify-content: center
    align-items: center
    aspect-ratio: $grid-item-aspect-ratio
    background-color: white
    border-radius: 4px
    box-shadow: $inset-hairline-shadow
    cursor: pointer           // Interaction
    -webkit-user-select: none // Interaction
    user-select: none         // Interaction
    // FIXME: Use :focus here?
    &:focus
      //// background-color: hsl(200, 100%, 97.5%)
      box-shadow: inset 0 0 0 4px $brand-color
    svg
      min-height: 24px
      max-height: 24px * math.div(56, 32)
      min-width:  24px
      max-width:  24px * math.div(56, 32)
      color: $slate-800

      // CSS variables
      transform: scale(calc(var(--size) / 24))
      stroke-width: var(--stroke-width) // stylelint-disable-line order/properties-order

  figcaption
    display: -webkit-box         // Clamp
    -webkit-line-clamp: 2        // Clamp
    -webkit-box-orient: vertical // Clamp
    overflow: hidden             // Clamp
    height: 32px
    font: 425 13px / 1.25 $sans
    text-align: center
    color: $slate-800
    -webkit-user-select: all // Interaction
    user-select: all         // Interaction
  .bookmark
    position: absolute
    inset: math.div($bookmark-icon-frame-height - $bookmark-icon-height, 2) math.div($bookmark-icon-frame-height - $bookmark-icon-height, 2) auto auto
    height: $bookmark-icon-height
    width: $bookmark-icon-height
    color: $amber-400
    @at-root
      .grid-item:not([data-bookmark=true]) .bookmark
        display: none
      .grid-item[data-bookmark=true] figure:focus ~ .bookmark
        color: $brand-color
