@use "sass:math"

@use "../css/globals" as *

$icon-1-height: $generic-button-icon-height
$icon-2-height: 16px

// Y-axis
.interweb
  margin: -4px 0

.interweb
  display: flex
  align-items: center
  height: $generic-button-height
  border-radius: 1e3px
  &:is(:hover, :focus-visible)
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200
  svg:first-child
    margin: 0 generate-keyline($icon-1-height)
    height: $icon-1-height
    width: $icon-1-height
    color: $slate-800
  span
    flex: 1 // Stretch x-axis
    font: 425 16px / normal $sans
    color: $slate-800
  svg:last-child
    margin: 0 generate-keyline($icon-2-height)
    height: $icon-2-height
    width: $icon-2-height
    color: $slate-400
