@use "sass:math"

@use "../css/globals" as *

$search-bar-height:      40px
$search-bar-icon-height: 16px

.search-bar
  display: flex
  margin: 0 math.div(generate-keyline(), 2)
  height: $search-bar-height
  background-color: $slate-200
  border-radius: 1e3px
  &:is(:hover, :focus-within)
    background-color: white
    box-shadow: $inset-hairline-shadow
  svg
    margin: math.div($search-bar-height - $search-bar-icon-height, 2)
    height: $search-bar-icon-height
    width: $search-bar-icon-height
    color: $slate-400
  input[type=text]
    flex: 1 // Stretch x-axis
    font: 425 15px / normal $sans
    color: $slate-800
    &::placeholder
      color: $slate-500
    &:focus-visible::placeholder
      opacity: 0
