@use "sass:math"

@use "../css/globals" as *

$icon-height:      14px
$undo-icon-height: 14px

.header
  position: sticky
  top: 0
  z-index: 10 // Because of input[type=checkbox]
  background-color: white
  &:has(+ [data-scroll=true])
    box-shadow: $hairline-shadow-bottom
  .section:first-child
    padding-top: $sidebar-padding-y

.scroll-container
  overflow-y: auto // COMPAT/Windows

.footer
  position: sticky
  bottom: 0
  z-index: 10 // Because of input[type=checkbox]
  margin-top: auto // 😎
  background-color: white
  box-shadow: $hairline-shadow-top
  .section:last-child
    //// padding-bottom: $sidebar-padding-y
    padding: $sidebar-padding-y $sidebar-padding-x

.section
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  // Use <div> because of <div><ul className="checkboxes">...</ul></div>
  > :not(div:not([class]), .resources)
    margin: 0 generate-keyline()
  &-header
    display: flex
    align-items: center
    svg:nth-child(1)
      margin-right: math.div(generate-keyline($icon-height), 2)
      height: $icon-height
      width: $icon-height
      color: $slate-500
    &-name
      flex: 1 // Stretch x-axis
      font: 500 11px / normal $sans
      letter-spacing: 0.075em
      text-transform: uppercase
      color: $slate-500
    svg:nth-child(3)
      margin-left: math.div(generate-keyline($icon-height), 2)
      height: $undo-icon-height
      width: $undo-icon-height
      color: $slate-300
      cursor: pointer   // Interaction
      user-select: none // Interaction
      &:is(:hover, :focus-visible)
        color: $slate-800
