@use "sass:color"
@use "sass:math"

@use "../css/globals" as *

.header
  position: sticky
  top: 0
  z-index: 10 // Because of input[type=checkbox]
  background-color: white
  &:has(+ [data-scroll=true])
    box-shadow: $hairline-shadow-bottom
  .section:first-child
    padding-top: $sidebar-padding-y

.scroll-container
  overflow-y: auto // COMPAT/Windows

.footer
  position: sticky
  bottom: 0
  z-index: 10 // Because of input[type=checkbox]
  margin-top: auto // 😎
  background-color: white
  box-shadow: $hairline-shadow-top
  .section:last-child
    padding: $sidebar-padding-y $sidebar-padding-x

.section
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x

  // Use div:not([class]) for checkboxes
  //
  //   <div>
  //   ^^^^^
  //     <Checkboxes>
  //       <Checkbox />
  //       <Checkbox />
  //       ...
  //     </Checkboxes>
  //   </div>
  //
  > :not(:is(div:not([class]), .resources, .syntax-highlighting))
    margin: 0 math.div($button-height - $tiny-icon-height, 2)

  &-header
    display: flex
    align-items: center
    svg:first-child
      margin-right: math.div($button-height - $tiny-icon-height, 2)
      height: $tiny-icon-height
      width: $tiny-icon-height
      color: $slate-600
    &-name
      flex: 1 // Stretch x-axis
      font: 500 11px / normal $sans
      font-feature-settings: 'tnum'
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $slate-600
    span
      display: inline-flex
      justify-content: center
      align-items: center
      height: 24px
      width: 56px
      border-radius: 1e3px
      box-shadow: $inset-hairline-shadow
      font: 500 11px / normal $sans
      font-feature-settings: 'tnum'
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $slate-800
      -webkit-user-select: all // Select all on click
      user-select: all         // Select all on click
    svg:last-child
      margin-left: math.div($button-height - $tiny-icon-height, 2)
      height: $tiny-icon-height
      width: $tiny-icon-height
      color: $slate-300
      cursor: pointer           // Interaction
      -webkit-user-select: none // Interaction
      user-select: none         // Interaction
      &:is(:hover, :focus-visible)
          color: $slate-800
