@use "sass:color"
@use "sass:math"

@use "../css/globals" as *

////////////////////////////////////////

.section-2-header
  position: sticky
  top: 0
  z-index: 10
  display: flex
  flex-direction: column
  background-color: whitesmoke
  overflow-y: auto

.section-2-body
  // No-op

.section-2-spacer
  flex: 1

.section-2-footer
  position: sticky
  bottom: 0
  z-index: 20
  background-color: whitesmoke

////////////////////////////////////////

.section-2-header-header
  background-color: gainsboro

.section-2-header-body
  flex: 1
  overflow-y: auto
