@use "sass:math"

@use "../css/globals" as *

$height: 32px
$width:  96px

label.select-format
  display: inline-block // CSS reset
.select-format
  position: relative
  height: $height
  width: $width

.select-format-button
  position: absolute
  display: inline-flex
  justify-content: center
  align-items: center
  height: 100% // Inherit
  width: 100%  // Inherit
  background-color: gainsboro
  border-radius: 1e3px
  pointer-events: none // Passthrough to <select>

.select-format select:is(:hover, :focus-visible) + .select-format-button
  background-color: blue

.select-format select
  position: absolute
  height: 100% // Inherit
  width: 100%  // Inherit
  opacity: 0.01
  cursor: pointer
