@use "sass:math"

@use "../css/globals" as *

$height: 28px

////////////////////////////////////////

label.select-format
  display: inline-block // CSS reset
.select-format
  position: relative

////////////////////////////////////////

.select-format-button
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 0 math.div($height, 2)
  height: $height
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  pointer-events: none // Passthrough to <select>

////////////////////////////////////////

.select-format-button-name
  font: 425 13px / 1.25 $sans
  text-align: center
  color: $slate-800

.select-format-button-icon
  margin-left: math.div($height - 12px, 2)
  height: 12px
  width: 12px
  color: $slate-800

////////////////////////////////////////

.select-format select
  position: absolute
  height: 100% // Inherit
  width: 100%  // Inherit
  opacity: 0.01
  cursor: pointer
  &:is(:hover, :focus-visible) + .select-format-button
    background-color: $slate-100
  &:hover:active + .select-format-button
    background-color: $slate-200
