@use "sass:color"
@use "sass:math"

@use "../css/globals" as *

////////////////////////////////////////

pre.syntax-highlighting
  margin: 0 // CSS reset
.syntax-highlighting
  //// margin: 0 -1 * $sidebar-padding-x
  //// padding-bottom: 8px // 🧐
  overflow-x: scroll
  //// max-height: 384px
  //// overflow: scroll auto // COMPAT/Windows

////////////////////////////////////////

.syntax-highlighting-code
  display: inline-block
  padding: 0 24px + 5px // 🧐
  font: 500 13px / 1.5 $code
  font-feature-settings: 'tnum'
  color: $slate-600
