@use "sass:color"
@use "sass:math"

@use "../css/globals" as *

$padding-y: 24px
$padding-x: 24px

.pre
  margin: 0 -1 * $sidebar-padding-x
  //// padding: $padding-y 0
  //// background-color: whitesmoke
  overflow-x: scroll // COMPAT/Windows
  .pre-code
    display: inline-block
    padding: 0 $padding-x + 3px // 🧐
    font: 500 13px / 1.5 $code
    font-feature-settings: 'tnum'
    color: $slate-600
