// https://stackoverflow.com/a/51432213

// TODO: Transform takes precedence before opacity

.effect-icon-hover {
	position: relative;
	transform-style: preserve-3d;
}
.effect-icon-hover::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 1e3px;
	//// background-color: hsl(0, 0%, 90%);
	opacity: 0;
	transform: scale(0.875)
		translateZ(-1px);
	transition: 50ms cubic-bezier(0, 1, 1, 2);
	transition-property: transform;
}
//// .effect-icon-hover:hover::before {
//// 	opacity: 1;
//// 	transform: scale(1)
//// 		translateZ(-1px);
//// 	transition-delay: 0ms;
//// }
.effect-icon-hover:hover:active::before {
	background-color: hsl(200, 100%, 50%); // Added
	opacity: 1;
	//// transform: scale(1.125)
	//// 	translateZ(-1px);
	transform: scale(1)
		translateZ(-1px);
	//// transition-duration: 10ms;
	//// transition-delay: 0ms;
}
.effect-icon-hover:hover:active * {
	color: hsl(0, 0%, 100%);
}
