@forward "tailwind-v3-colors"

@use "sass:color"
@use "sass:math"
@use "sass:selector"

@use "tailwind-v3-colors" as *

////////////////////////////////////////

=font-smoothing
  -webkit-font-smoothing:  antialiased
  -moz-osx-font-smoothing: grayscale

=no-font-smoothing
  -webkit-font-smoothing:  auto
  -moz-osx-font-smoothing: auto

@function generate-keyline($override: $generic-button-icon-height)
  @return math.div($generic-button-height - $override, 2)

////////////////////////////////////////

$WINDOWS_SCROLLBAR_WIDTH: 16px

$sans: 'Inter var experimental', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
$code: 'Recursive Monospace', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace

$sidebar-padding-y: 32px
$sidebar-padding-x: 16px
$sidebar-gap:       16px

$generic-button-height:      40px
$generic-button-icon-height: 18px

$hairline-height: 1px
$hairline-color:  color.mix($slate-200, $slate-300)

$brand-color: dodgerblue

//// $inset-hairline-shadow:        inset  0    0   0 1px $hairline-color
//// $inset-hairline-shadow-top:    inset  0   -1px 0 0   $hairline-color
//// $inset-hairline-shadow-right:  inset  1px  0   0 0   $hairline-color
//// $inset-hairline-shadow-bottom: inset  0    1px 0 0   $hairline-color
//// $inset-hairline-shadow-left:   inset -1px  0   0 0   $hairline-color
//// $hairline-shadow:                     0    0   0 1px $hairline-color
//// $hairline-shadow-top:                 0   -1px 0 0   $hairline-color
//// $hairline-shadow-right:               1px  0   0 0   $hairline-color
//// $hairline-shadow-bottom:              0    1px 0 0   $hairline-color
//// $hairline-shadow-left:               -1px  0   0 0   $hairline-color

$inset-hairline-shadow:        inset  0                     0                    0 $hairline-height $hairline-color
$inset-hairline-shadow-top:    inset  0                    -1 * $hairline-height 0 0                $hairline-color
$inset-hairline-shadow-right:  inset  $hairline-height      0                    0 0                $hairline-color
$inset-hairline-shadow-bottom: inset  0                     $hairline-height     0 0                $hairline-color
$inset-hairline-shadow-left:   inset -1 * $hairline-height  0                    0 0                $hairline-color
$hairline-shadow:                     0                     0                    0 $hairline-height $hairline-color
$hairline-shadow-top:                 0                    -1 * $hairline-height 0 0                $hairline-color
$hairline-shadow-right:               $hairline-height      0                    0 0                $hairline-color
$hairline-shadow-bottom:              0                     $hairline-height     0 0                $hairline-color
$hairline-shadow-left:               -1 * $hairline-height  0                    0 0                $hairline-color

$realistic-shadow:   0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color, 0 4px 8px -4px $hairline-color, 0 8px 16px -8px $hairline-color, 0 16px 32px -16px $hairline-color, 0 32px 64px -32px $hairline-color
$realistic-shadow-1: 0 1px 2px -1px $hairline-color
$realistic-shadow-2: 0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color
$realistic-shadow-3: 0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color, 0 4px 8px -4px $hairline-color
$realistic-shadow-4: 0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color, 0 4px 8px -4px $hairline-color, 0 8px 16px -8px $hairline-color
$realistic-shadow-5: 0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color, 0 4px 8px -4px $hairline-color, 0 8px 16px -8px $hairline-color, 0 16px 32px -16px $hairline-color
$realistic-shadow-6: 0 1px 2px -1px $hairline-color, 0 2px 4px -2px $hairline-color, 0 4px 8px -4px $hairline-color, 0 8px 16px -8px $hairline-color, 0 16px 32px -16px $hairline-color, 0 32px 64px -32px $hairline-color
