// https://gist.github.com/indrekpaas/4d6dfa5c29da805219d4149352c4703b

@function svg-encode($svg) {
	$encode: (
		'"': "%22",
		"#": "%23",
		"%": "%25",
		"<": "%3C",
		">": "%3E",
		"{": "%7B",
		"}": "%7D",
	);
	$string: "";
	$character: "";
	@for $i from 1 through str-length($svg) {
		$character: str-slice($svg, $i, $i);
		@if index(map-keys($encode), $character) {
			$character: map-get($encode, $character);
		}
		$string: $string + $character;
	}
	@return url("data:image/svg+xml,#{$string}");
}
