/* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

/* *, */
/* ::before, */
/* ::after { */
/* 	box-sizing: border-box; */
/* 	border-width: 0; */
/* 	border-style: solid; */
/* 	border-color: #e5e7eb; */
/* } */

/* *, */
/* ::before, */
/* ::after { */
/* 	--tw-ring-inset: ; */
/* 	--tw-ring-offset-width: 0px; */
/* 	--tw-ring-offset-color: #fff; */
/* 	--tw-ring-color: rgb(59 130 246 / 0.5); */
/* 	--tw-ring-offset-shadow: 0 0 #0000; */
/* 	--tw-ring-shadow: 0 0 #0000; */
/* } */

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
small {
	font-size: 80%;
}

/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@tailwind variants;
