@use "globals" as *

=font-smoothing
  -webkit-font-smoothing:  antialiased
  -moz-osx-font-smoothing: grayscale

=no-font-smoothing
  -webkit-font-smoothing:  auto
  -moz-osx-font-smoothing: auto

=typography-sans
  font:           400 15px / normal $sans
  letter-spacing: normal
  text-transform: none
  &.is-multiline
    line-height: 1.625

=typography-small-sans
  font:           400 13px / normal $sans
  letter-spacing: normal
  text-transform: none
  &.is-multiline
    line-height: 1.625

=typography-caps($font-weight: null)
  font:           if($font-weight == null, 600, $font-weight) 10.5px / normal $sans
  //// font:           600 10.5px / normal $sans
  letter-spacing: 0.075em
  text-transform: uppercase
  &.is-multiline
    line-height: 1.625

=typography-code
  +no-font-smoothing
  font:           400 11px / normal $code
  text-transform: none
  &.is-multiline
    line-height: 1.625
