@mixin hero-background-image {
	background-image: linear-gradient(
		var(--hero-gradient-angle),
		var(--hero-gradient-start),
		var(--hero-gradient-end)
	);
	background-attachment: fixed;
}
[data-hero-background-image] { @include hero-background-image; }

/* https://30secondsofcode.org/css/s/polka-dot-pattern */
//
// TODO: Rename to sass-
.dots-background-image {
	background-image:
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%),
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%);
	background-position:
		center;
	background-size:
		calc(16px * var(--scale))
		calc(16px * var(--scale));
}
