@use "tailwind-colors" as *;

//// :not(svg > *) {
//// 	outline: 1px solid hsl(200, 100%, 50%, 0.5);
//// 	outline-offset: -0.5px;
//// }

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:
		hidden  //                X-axis
		scroll; // COMPAT/Window; Y-axis
	//// scroll-behavior: smooth;

	background-color: gray(50);
}

:root, ::before, ::after {
	font-family: var(--sans);
}
pre, code {
	font-family: var(--code);
	tab-size: 2;
}

:root:not(.dark) { color-scheme: light; }
:root.dark       { color-scheme: dark;  }

svg { overflow: visible; }

//// [role] { cursor: pointer; user-select: none; }
//// [role=slider] {
//// 	cursor: grab;
//// 	user-select: none;
//// 	&:active {
//// 		cursor: grabbing;
//// 	}
//// }
