@use "tailwind-colors" as *;

//// :not(svg > *) {
//// 	outline: 1px solid hsl(200, 100%, 50%, 0.5);
//// 	outline-offset: -0.5px;
//// }

// the-new-css-reset
:focus-visible { outline: revert; }
pre { margin: 0; }

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:
		hidden  // X-axis
		scroll; // Y-axis; COMPAT/Windows
	scroll-behavior: smooth;

	font-family: var(--sans);
	//// background-color: gray(50);
}
pre, code {
	font-family: var(--code);
	tab-size: 2;
}

:root:not(.dark) { color-scheme: light; }
:root.dark       { color-scheme: dark;  }

svg { overflow: visible; }

// TODO
[role] { cursor: pointer; user-select: none; }
[role=slider] {
	cursor: grab;
	user-select: none;
	&:active {
		cursor: grabbing;
	}
}

//// input[type=text]:focus { outline: none; }
//// textarea:focus         { outline: none; }
