@use "globals" as *

:root
  +font-smoothing

:root:not([data-theme=dark])
  color-scheme: light
:root[data-theme=dark]
  color-scheme: dark

:root, ::before, ::after
  color: RED

svg
  overflow: visible

hr
  border-top: 1px solid $slate-300
