@use "globals" as *

[data-debug-css] :not(svg *)
  outline: 1px solid hsl(0, 100%, 50%, 0.125)

:root
  +font-smoothing

:root:not([data-theme=dark])
  color-scheme: light
:root.dark
  color-scheme: dark

:root, ::before, ::after
  color: RED

svg
  overflow: visible

hr
  margin-top: -1px
  border-top: 1px solid $slate-300
