@use "globals" as *

:root
  +font-smoothing
  overflow-y: scroll // COMPAT/Windows

:root:not([data-theme=dark])
  color-scheme: light
:root[data-theme=dark]
  color-scheme: dark

:root, ::before, ::after
  color: RED

svg
  overflow: visible

hr
  border-top: $hairline-height solid $hairline-color

//// input[type=number]::-webkit-inner-spin-button,
//// input[type=number]::-webkit-outer-spin-button
////   -webkit-appearance: none
////   margin: 0
////
//// input[type=number]::-moz-inner-spin-button,
//// input[type=number]::-moz-outer-spin-button
////   -webkit-appearance: none
////   margin: 0

.u-flex-1
  flex: 1

.u-overflow-y-auto
  overflow-y: auto

.u-overflow-y-scroll
  overflow-y: scroll
