@use "tailwind-colors" as *;

[data-bg-hero] {
	background-image: linear-gradient(35deg, var(--theme-color), var(--theme-color-gradient-end));
	background-attachment: fixed;
	//// background-size:
	//// 	100vmax
	//// 	100vmax;
}

/* https://30secondsofcode.org/css/s/polka-dot-pattern */
[data-bg-dots] {
	background-image:
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%),
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%);
	background-position:
		center;
	background-size:
		calc(16px * var(--scale))
		calc(16px * var(--scale));
}
