[data-background-hero] {
	//// background-image: linear-gradient(
	//// 	var(--hero-gradient-angle),
	//// 	var(--hero-gradient-start),
	//// 	var(--hero-gradient-end)
	//// );
	//// background-attachment: fixed;
	background-color: #1570fb;
}

/* https://30secondsofcode.org/css/s/polka-dot-pattern */
[data-background-dots] {
	background-image:
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%),
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%);
	background-position:
		center;
	background-size:
		calc(16px * var(--SCALE))  // X-axis
		calc(16px * var(--SCALE)); // Y-axis
}
