// Y-axis
.docs > * + * {
	margin-top:    16px;
}
.docs > :is(
	h1,
	h2
) {
	margin-top:    64px;
	margin-bottom: 16px;
}
.docs > :is(
	hr,
	pre
) {
	margin-top:    32px;
	margin-bottom: 32px;
}
.docs > :is(
	ol,
	ul
) {
	margin-top:    16px;
	margin-bottom: 32px;
}
