@function check-svg($stroke-width: 2, $color: currentColor) {
	@return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='feather feather-check' fill='none' stroke='#{$color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='#{$stroke-width}'%3E%3Cpolyline points='20 6 9 17 4 12' /%3E%3C/svg%3E%0A");
}

.form-checkbox {
	position: relative;
	height: var(--checkbox-height);
	width: var(--checkbox-height);
	background-color: white;
	border-radius: 43.75%;
	// NOTE: Don't use var(--inset-hairline-shadow) for form elements
	box-shadow: var(--hairline-shadow), var(--realistic-shadow-6);
}
// Checked
[aria-checked=true] .form-checkbox {
	box-shadow: var(--realistic-shadow-6);
}

// ::before
.form-checkbox::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: dodgerblue;
	border-radius: inherit;
	transform: scale(0);
	opacity: 0;
	transition:
		transform var(--checkbox-transition-duration) cubic-bezier(0, 1, 0, 1.125),
		opacity var(--checkbox-transition-duration) cubic-bezier(0, 1, 0, 1.125);
}
// Checked
[aria-checked=true] .form-checkbox::before {
	transform: scale(1);
	opacity: 1;
}

// ::after
.form-checkbox::after {
	content: "";
	position: absolute;
	inset: 0;
	margin: auto;
	height: var(--checkbox-check-height);
	width: var(--checkbox-check-height);
	background: check-svg($stroke-width: 8, $color: white) 0% 0% / 100% 100%;
	transform: scale(0);
	opacity: 0;
	transition:
		transform var(--checkbox-transition-duration) cubic-bezier(0, 1, 0, 1.125),
		opacity var(--checkbox-transition-duration) cubic-bezier(0, 1, 0, 1.125);
}
// Checked
[aria-checked=true] .form-checkbox::after {
	transform: scale(1);
	opacity: 1;
}
