@use "utils/reset" as *;

.form-slider-track {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--slider-track-height);
	background-image: linear-gradient(to right, dodgerblue var(--progress), var(--hairline-color) var(--progress));
	border-radius: 1e3px;
}

.form-slider-thumb {
	height: var(--slider-thumb-height);
	width: var(--slider-thumb-height);
	background-color: white;
	border-radius: 1e3px;
	// NOTE: Don't use var(--inset-hairline-shadow) for form elements
	box-shadow: var(--hairline-shadow), var(--realistic-shadow-6);
}
