// https://codepen.io/zaydek/pen/bGxVJqx

@use "sass:math";

@use "vars" as *;

@use "utils/reset" as *;

input[type=range] {
	margin:           math.div($slider-thumb-height - $slider-track-height, 2) 0;
	height:           $slider-track-height;
	background-image: linear-gradient(to right, var(--sky-400) var(--progress), $hairline-color var(--progress));
	border-radius:    $circular;
	cursor:           grab;
}
input[type=range]:hover:active { cursor: grabbing; }
input[type=range]::-webkit-slider-thumb {
	@include reset {
		-webkit-appearance:
			none;               // COMPAT/macOS
		box-shadow:     none; // COMPAT/iOS
	}
	height:           $slider-thumb-height;
	width:            $slider-thumb-height;
	background-color: white;
	border-radius:    $circular;
	box-shadow:       $hairline-shadow, $realistic-shadow;
}
input[type=range]::-moz-range-thumb {
	@include reset {
		border:         none; // COMPAT/Firefox
	}
	height:           $slider-thumb-height;
	width:            $slider-thumb-height;
	background-color: white;
	border-radius:    $circular;
	box-shadow:       $hairline-shadow, $realistic-shadow;
}
