:root {
	// GitHub: Light default
	--color-prettylights-syntax-comment: #6e7781;
	--color-prettylights-syntax-constant: #0550ae;
	--color-prettylights-syntax-entity: #8250df;
	--color-prettylights-syntax-storage-modifier-import: #24292f;
	--color-prettylights-syntax-entity-tag: #116329;
	--color-prettylights-syntax-keyword: #cf222e;
	--color-prettylights-syntax-string: #0a3069;
	--color-prettylights-syntax-variable: #953800;
	--color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
	--color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
	--color-prettylights-syntax-invalid-illegal-bg: #82071e;
	--color-prettylights-syntax-carriage-return-text: #f6f8fa;
	--color-prettylights-syntax-carriage-return-bg: #cf222e;
	--color-prettylights-syntax-string-regexp: #116329;
	--color-prettylights-syntax-markup-list: #3b2300;
	--color-prettylights-syntax-markup-heading: #0550ae;
	--color-prettylights-syntax-markup-italic: #24292f;
	--color-prettylights-syntax-markup-bold: #24292f;
	--color-prettylights-syntax-markup-deleted-text: #82071e;
	--color-prettylights-syntax-markup-deleted-bg: #ffebe9;
	--color-prettylights-syntax-markup-inserted-text: #116329;
	--color-prettylights-syntax-markup-inserted-bg: #dafbe1;
	--color-prettylights-syntax-markup-changed-text: #953800;
	--color-prettylights-syntax-markup-changed-bg: #ffd8b5;
	--color-prettylights-syntax-markup-ignored-text: #eaeef2;
	--color-prettylights-syntax-markup-ignored-bg: #0550ae;
	--color-prettylights-syntax-meta-diff-range: #8250df;
	--color-prettylights-syntax-brackethighlighter-angle: #57606a;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
	--color-prettylights-syntax-constant-other-reference-link: #0a3069;

	//// // GitHub: Dark default
	//// --color-prettylights-syntax-comment: #768390;
	//// --color-prettylights-syntax-constant: #6cb6ff;
	//// --color-prettylights-syntax-entity: #dcbdfb;
	//// --color-prettylights-syntax-storage-modifier-import: #adbac7;
	//// --color-prettylights-syntax-entity-tag: #8ddb8c;
	//// --color-prettylights-syntax-keyword: #f47067;
	//// --color-prettylights-syntax-string: #96d0ff;
	//// --color-prettylights-syntax-variable: #f69d50;
	//// --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
	//// --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
	//// --color-prettylights-syntax-invalid-illegal-bg: #922323;
	//// --color-prettylights-syntax-carriage-return-text: #cdd9e5;
	//// --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
	//// --color-prettylights-syntax-string-regexp: #8ddb8c;
	//// --color-prettylights-syntax-markup-list: #eac55f;
	//// --color-prettylights-syntax-markup-heading: #316dca;
	//// --color-prettylights-syntax-markup-italic: #adbac7;
	//// --color-prettylights-syntax-markup-bold: #adbac7;
	//// --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
	//// --color-prettylights-syntax-markup-deleted-bg: #78191b;
	//// --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
	//// --color-prettylights-syntax-markup-inserted-bg: #1b4721;
	//// --color-prettylights-syntax-markup-changed-text: #ffddb0;
	//// --color-prettylights-syntax-markup-changed-bg: #682d0f;
	//// --color-prettylights-syntax-markup-ignored-text: #adbac7;
	//// --color-prettylights-syntax-markup-ignored-bg: #255ab2;
	//// --color-prettylights-syntax-meta-diff-range: #dcbdfb;
	//// --color-prettylights-syntax-brackethighlighter-angle: #768390;
	//// --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
	//// --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
////
	//// // GitHub: Dark dimmed
	//// --color-prettylights-syntax-comment: #8b949e;
	//// --color-prettylights-syntax-constant: #79c0ff;
	//// --color-prettylights-syntax-entity: #d2a8ff;
	//// --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
	//// --color-prettylights-syntax-entity-tag: #7ee787;
	//// --color-prettylights-syntax-keyword: #ff7b72;
	//// --color-prettylights-syntax-string: #a5d6ff;
	//// --color-prettylights-syntax-variable: #ffa657;
	//// --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	//// --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	//// --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	//// --color-prettylights-syntax-carriage-return-text: #f0f6fc;
	//// --color-prettylights-syntax-carriage-return-bg: #b62324;
	//// --color-prettylights-syntax-string-regexp: #7ee787;
	//// --color-prettylights-syntax-markup-list: #f2cc60;
	//// --color-prettylights-syntax-markup-heading: #1f6feb;
	//// --color-prettylights-syntax-markup-italic: #c9d1d9;
	//// --color-prettylights-syntax-markup-bold: #c9d1d9;
	//// --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	//// --color-prettylights-syntax-markup-deleted-bg: #67060c;
	//// --color-prettylights-syntax-markup-inserted-text: #aff5b4;
	//// --color-prettylights-syntax-markup-inserted-bg: #033a16;
	//// --color-prettylights-syntax-markup-changed-text: #ffdfb6;
	//// --color-prettylights-syntax-markup-changed-bg: #5a1e02;
	//// --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
	//// --color-prettylights-syntax-markup-ignored-bg: #1158c7;
	//// --color-prettylights-syntax-meta-diff-range: #d2a8ff;
	//// --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
	//// --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
	//// --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
}

// https://30secondsofcode.org/css/s/polka-dot-pattern
.dots-pattern {
	background-image:
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%),
		radial-gradient(hsl(0, 0%, 75%) 0%, transparent 10%);
	background-position:
		center;
	background-size:
		calc(16px * var(--scale))
		calc(16px * var(--scale));
}

////////////////////////////////////////////////////////////////////////////////
// SVG

pre {
	color: #24292e;
	.token {
		// [// ...]
		&.comment {
			color: #6a737d;
		}
		// [<svg] class="foo">
		&.tag {
			color: #22863a;
			// [<]svg class="foo">
			.punctuation {
				color: #24292e;
			}
		}
		// <svg [class]="foo">
		&.attr-name {
			color: #6f42c1;
		}
		// <svg class[="foo"]>
		&.attr-value {
			color: #032f62;
			// <svg class=["foo"]>
			.punctuation:not(.attr-equals) {
				color: #032f62;
			}
		}

		// [export] [function] Feather(props) {
		&.keyword   { color: #d73a49; }
		// export function [Feather](props) {
		&.function  { color: #6f42c1; }
		// export function Feather([props]) {
		&.parameter { color: #e36209; }
	}
}

@media (prefers-color-scheme: dark) {
	pre {
		color: #c9d1d9;
		.token {
			// [// ...]
			&.comment {
				color: #8b949e;
			}
			// [<svg] class="foo">
			&.tag {
				color: #7ee787;
				// [<]svg class="foo">
				.punctuation {
					color: #c9d1d9;
				}
			}
			// <svg [class]="foo">
			&.attr-name {
				color: #79c0ff;
			}
			// <svg class[="foo"]>
			&.attr-value {
				color: #a5d6ff;
				// <svg class=["foo"]>
				.punctuation:not(.attr-equals) {
					color: #a5d6ff;
				}
			}

			// [export] [function] Feather(props) {
			&.keyword   { color: #f97583; }
			// export function [Feather](props) {
			&.function  { color: #b392f0; }
			// export function Feather([props]) {
			&.parameter { color: #ffab70; }
		}
	}
}
