@forward "box-shadow"
@forward "theme" with ($include: true)
@forward "typography"

$sidebar-padding-y: 32px
$sidebar-padding-x: 16px
$sidebar-gap:       16px

$button-height:     40px
$icon-height:       18px
$tiny-icon-height:  14px

// TODO: Move to theme.sass
$brand-color:       dodgerblue
