@forward "hairline-and-box-shadow"
@forward "tailwind-colors"
@forward "typography"
@forward "vars"

$sidebar-padding-y: 32px
$sidebar-padding-x: 16px
$sidebar-gap:       16px

$button-height:     40px
$icon-height:       18px
$tiny-icon-height:  14px

$brand-color:       dodgerblue
