// Abstract
$circular:              1e3px;
$squarish:              43.75%;

// Spacing
$padding-y:             32px;
$padding-x:             32px;
$padding:
	$padding-y
	$padding-x;
$spacing:               24px;

// Sidebar
$sidebar-width:         384px;
$search-bar-height:     48px;
$container-height:      36px;
$icon-height:           20px;
$tiny-icon-height:      14px;

// Form
$checkbox-height:       26px;
$checkbox-check-height: $squarish;
$checkbox-transition-duration:
	0ms;
	//// 75ms;

$slider-track-height:   6px;
$slider-thumb-height:   36px;

// Typography
$font-size:             16px;
$small-font-size:       13px;
$upper-font-size:       10px;

// Shadows
$hairline-color:          var(--hairline-color);
$inset-hairline-shadow:   inset  0    0   0 1px var(--hairline-color);
$inset-hairline-t-shadow: inset  0   -1px 0 0   var(--hairline-color);
$inset-hairline-r-shadow: inset  1px  0   0 0   var(--hairline-color);
$inset-hairline-b-shadow: inset  0    1px 0 0   var(--hairline-color);
$inset-hairline-l-shadow: inset -1px  0   0 0   var(--hairline-color);
$hairline-shadow:                0    0   0 1px var(--hairline-color);
$hairline-t-shadow:              0   -1px 0 0   var(--hairline-color);
$hairline-r-shadow:              1px  0   0 0   var(--hairline-color);
$hairline-b-shadow:              0    1px 0 0   var(--hairline-color);
$hairline-l-shadow:             -1px  0   0 0   var(--hairline-color);

$realistic-shadow:
	0  1px  2px  -1px var(--hairline-color),
	0  2px  4px  -2px var(--hairline-color),
	0  4px  8px  -4px var(--hairline-color),
	0  8px 16px  -8px var(--hairline-color),
	0 16px 32px -16px var(--hairline-color),
	0 32px 64px -32px var(--hairline-color);

:root {
	--hairline-color: rgb(var(--slate-500-rgb) / 0.3125);
}

body { display: flex; }

hr {
	height:           1px;
	background-color: var(--slate-300);
}

////////////////////////////////////////////////////////////////////////////////
// Sidebar

.sidebar {
	display:          flex;
	flex-direction:   column;
	height:           100vh; // Fallback
	height:           100dvh;
	width:            $sidebar-width;
	background-color: white;
	box-shadow:       $hairline-r-shadow;
}
.sticky-search-bar-container {
	position:         sticky;
	top:              0;
	padding:          $padding;
	background-color: white;
}
.sticky-search-bar-container[data-state-did-scroll=true] { box-shadow: $hairline-b-shadow; }
.sidebar section {
	display:          flex;
	flex-direction:   column;
	gap:              16px;
	padding:          $spacing $padding-x; // Use $spacing for y-axis
}
.sidebar section:first-child { padding-top: 0; }
.sidebar section:last-child { padding-bottom: $padding-y; }

.scrolling-container { overflow-y: scroll; }

////////////////////////////////////////////////////////////////////////////////
// Section

.section-name {
	display:          flex;
	flex-direction:   row;
	justify-content:  space-between;
	align-items:      center;
	height:           $container-height;
}
.section-name-type {
	font:             500 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-600);
}
.section-name-undo-button {
	margin:           ($container-height - $tiny-icon-height) / 2;
	height:           $tiny-icon-height;
	width:            $tiny-icon-height;
	color:            var(--slate-400);
}

////////////////////////////////////////////////////////////////////////////////
// Search bar

.search-bar {
	display:          flex;
	flex-direction:   row;
	height:           $search-bar-height;
	background-color: rgb(var(--slate-200-rgb) / 0.75);
	border-radius:    $circular;
}
.search-bar:is(:hover, :has(:focus-visible)) {
	background-color: white;
	box-shadow:       $hairline-shadow;
}
.search-bar-icon {
	margin:           ($search-bar-height - $icon-height) / 2;
	height:           $icon-height;
	width:            $icon-height;
	color:            var(--slate-400);
}
.search-bar input[type=text] {
	flex-grow:        1; // Stretch x-axis
	font:             400 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-700);
}
.search-bar input[type=text]::placeholder { color: var(--slate-500); }
.search-bar:has(:focus-visible) input[type=text]::placeholder { opacity: 0; }

////////////////////////////////////////////////////////////////////////////////
// Checkbox

.checkbox-list { border-radius: $container-height / 2; }
.checkbox-item {
	display:          grid;
	grid-template-columns:
		auto
		1fr
		auto;
	align-items:      center;
	height:           $container-height;
	border-radius:    $circular;
}
.checkbox-icon {
	margin:           ($container-height - $icon-height) / 2;
	height:           $icon-height;
	width:            $icon-height;
	color:            var(--slate-700);
}
.checkbox-list:is(:hover, :has(:focus-visible)) { background-color: var(--slate-100); }
.checkbox-list .checkbox-list:is(:hover, :has(:focus-visible)) { background-color: var(--slate-200); }
//// .checkbox-item:is(:hover:active, :focus-visible) { background-color: rgb(var(--slate-500-rgb) / 0.25); }
.checkbox-type {
	font:             400 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-700);
}

section > .checkbox-list:not(:first-of-type) { margin-top: -8px; }
.checkbox-list .checkbox-list { margin-left: $container-height / 2; }

////////////////////////////////////////////////////////////////////////////////
// Licenses

.license-item {
	display:          flex;
	flex-direction:   row;
	gap:              8px;
}
.license-item:not(:first-child) { margin-top: 8px; }
.license-icon {
	margin:           ($tiny-icon-height * 1.375 - $tiny-icon-height) / 2;
	margin-left:      0;
	height:           $tiny-icon-height;
	width:            $tiny-icon-height;
	background-color: var(--slate-700-rgb);
	border-radius:    $circular;
}
.license-type {
	font:             400 $small-font-size / normal BlinkMacSystemFont;
	line-height:      1.375;
	color:            var(--slate-700);
}

.license-type a {
	text-decoration:  underline $hairline-color;
	text-underline-offset:
		2px;
}
