*:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *))
  all: unset
  display: revert
*,
*:before,
*:after
  box-sizing: border-box
a,
button
  cursor: revert
ol,
ul,
menu
  list-style: none
img
  max-inline-size: 100%
  max-block-size: 100%
table
 border-collapse: collapse
input,
textarea
  -webkit-user-select: auto
textarea
 white-space: revert
meter
  -webkit-appearance: revert
  appearance: revert
:where(pre)
 all: revert
::placeholder
 color: unset
::marker
 content: initial
:where([hidden])
 display: none
:where([contenteditable]:not([contenteditable="false"]))
  -moz-user-modify: read-write
  -webkit-user-modify: read-write
  overflow-wrap: break-word
  -webkit-line-break: after-white-space
  -webkit-user-select: auto
:where([draggable="true"])
 -webkit-user-drag: element
:where(dialog:modal)
 all: revert

$checkbox-height: 40px

body
 display: flex

.column-1
  position: fixed
  inset: 0 auto 0 0
  width: 400px
  background-color: white
  box-shadow: 0 0 0 1px gray

.column-2
  display: flex
  flex-direction: column
  gap: 16px
  padding: 32px
  margin: 0 400px 0 400px

.column-3
  position: fixed
  inset: 0 0 0 auto
  width: 400px
  background-color: white
  box-shadow: 0 0 0 1px gray

.sticky-header
  display: flex
  flex-direction: column
  gap: 16px
  padding: 32px
  padding-top: 32px

.hairline
  margin-top: -1px // The margin absorbs the border
  border-top: 1px solid gray

.fieldset
  padding: 32px
  display: flex
  flex-direction: column
  gap: 16px

.search-bar
  display: flex
  height: 48px
  background-color: lightgray
  border-radius: 1e3px

.search-bar-icon
  margin: (48px - 16px) / 2
  height: 16px
  width: 16px
  background-color: gray
  border-radius: 1e3px

.search-bar input[type=text]
  flex-grow: 1

// Indent nested checkbox lists
.checkbox-list .checkbox-list
  margin-left: 16px

.checkbox-item
  margin: -8px 0
  display: flex
  align-items: center
  height: $checkbox-height
  border-radius: 1e3px
  cursor: pointer   // Button styles
  user-select: none // Button styles

.checkbox-item:hover
  background-color: whitesmoke

.checkbox-icon
  margin: ($checkbox-height - 16px) / 2
  height: 16px
  width: 16px
  background-color: gray
  border-radius: 1e3px

.checkbox-icon-2
  margin: ($checkbox-height - 16px) / 2
  height: 16px
  width: 16px
  background-color: gray
  border-radius: 1e3px

.checkbox-name
  flex: 1
