@use "sass:math"

@use "globals" as *
@use "tw-v2-colors" as *

@use "typography" as *

// CSS
@use "base" as *
@use "utils" as *
@use "interactive-checkbox" as *
@use "interactive-slider" as *

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

.column-1
  position: fixed
  inset: 0 auto 0 0
  display: flex
  flex-direction: column
  width: $aside-1-width
  background-color: white
  box-shadow: $hairline-shadow-right

.column-2
  display: flex
  flex-direction: column
  gap: 64px
  margin: 0 400px 0 400px
  padding: 32px

.column-3
  position: fixed
  inset: 0 0 0 auto
  display: flex
  flex-direction: column
  width: $aside-2-width
  background-color: white
  box-shadow: $hairline-shadow-left

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

.scroll-container
  //// display: flex
  //// flex-direction: column
  //// gap: $aside-gap
  //// padding: $aside-padding-y 0
  height: 100dvh // Ensure .scroll-container expands
  height: 100dv  // Ensure .scroll-container expands
  overflow-y: scroll

.hairline
  margin-top: -1px
  border-top: 1px solid $slate-300

$undo-height: 16px

.section
  display: flex
  flex-direction: column
  gap: $aside-gap
  padding: $aside-gap $aside-padding-x
  &:first-child
    padding-top: $aside-padding-y
  &:last-child
    padding-bottom: $aside-padding-y
    box-shadow: $hairline-shadow-top
  .header
    display: flex
    align-items: center
    height: math.div($generic-button-height, 2)
    .name
      margin: keyline()
      +typography-caps
      color: $slate-900
    .undo
      margin: keyline($undo-height)
      height: $undo-height
      width: $undo-height
      color: $slate-300

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

$search-bar-height: 48px
$search-bar-icon-height: 16px

.search-bar
  display: flex
  margin: 0 math.div(keyline(), 2)
  height: $search-bar-height
  background-color: $slate-100
  border-radius: 1e3px
  box-shadow: inset 0 0 0 1px $slate-200
  &:is(:hover, :has(:focus-visible))
    background-color: white
    box-shadow: $inset-hairline-shadow
  .icon
    margin: math.div($search-bar-height - $search-bar-icon-height, 2)
    height: $search-bar-icon-height
    width: $search-bar-icon-height
    color: $slate-400
  input[type=text]
    +typography-sans
    color: $slate-900
    &::placeholder
      color: $slate-500
    &:focus-visible::placeholder
      opacity: 0

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

$checkbox-icon-height: $generic-button-icon-height

.checkbox-list
  & .checkbox-list
    margin-left: math.div($generic-button-height, 2)
  .checkbox-item
    display: flex
    align-items: center
    margin: -8px 0
    height: $generic-button-height
    border-radius: 1e3px
    cursor: pointer   // Interaction styles
    user-select: none // Interaction styles
    &:is(:hover, :has(:focus-visible))
      background-color: $slate-100
    &:hover:active
      background-color: $slate-200
    .icon
      margin: math.div($generic-button-height - $checkbox-icon-height, 2)
      height: $checkbox-icon-height
      width: $checkbox-icon-height
      color: $slate-900
    .name
      +typography-sans
      color: $slate-900
    .interactive-checkbox
      margin: math.div($generic-button-height - $x-checkbox-height, 2)

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

.slider
  display: flex
  align-items: center
  .interactive-slider
    margin: 0 keyline()
  input[type=text]
    margin: 0 keyline()
    height: 28px
    width: 56px
    border-radius: 1e3px
    box-shadow: $inset-hairline-shadow
    +typography-code
    // Use text-align instead of Flexbox
    // because of input[type=text]
    text-align: center
    color: $slate-900

////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////

$ext-anchor-icon-1-height: $generic-button-icon-height
$ext-anchor-icon-2-height: 16px

.ext-anchor
  display: flex
  align-items: center
  margin: -8px 0
  height: $generic-button-height
  border-radius: 1e3px
  &:is(:hover, :focus-visible)
    background-color: $slate-100
  &:hover:active
    background-color: $slate-200
  .icon-1
    margin: keyline($ext-anchor-icon-1-height)
    height: $ext-anchor-icon-1-height
    width: $ext-anchor-icon-1-height
    color: $slate-900
  .icon-2
    margin: keyline($ext-anchor-icon-2-height)
    height: $ext-anchor-icon-2-height
    width: $ext-anchor-icon-2-height
    color: $slate-400
  .name
    +typography-sans
    color: $slate-900
