@use "sass:math";

@use "vars" as *;

// TODO
:root {
	--hairline-color: rgb(var(--slate-500-rgb) / 0.3125);
}

#root { display: flex; }
fieldset:not(:first-of-type) { border-top: 1px solid $hairline-color; }
a { text-decoration: underline $hairline-color; text-underline-offset: 2px; }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Sidebar

.sidebar {
	display:          flex;
	flex-direction:   column;
	height:           100vh; // Fallback
	height:           100dvh;
	width:            $sidebar-width;
	background-color: white;
	box-shadow:       $hairline-r-shadow;
}
.sticky-search-bar-container {
	position:         sticky;
	top:              0;
	padding:          $padding;
	background-color: white;
}
.sidebar fieldset {
	display:          flex;
	flex-direction:   column;
	gap:              16px;
	padding:          $spacing $padding-x; // Use $spacing for y-axis
}
.scrolling-container { overflow-y: scroll; }

// Spacing
.sidebar fieldset:first-child { padding-top: 0; }
.sidebar fieldset:last-child { padding-bottom: $padding-y; }

// States
.search-bar-container[data-state-did-scroll=true] { box-shadow: $hairline-b-shadow; }

////////////////////////////////////////////////////////////////////////////////
// Legend

.legend {
	display:          flex;
	flex-direction:   row;
	justify-content:  space-between;
	align-items:      center;
	height:           $container-height;
}
.legend-type {
	font:             500 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-600);
}
.legend-undo-button {
	margin:           math.div($container-height - $small-icon-height, 2);
	height:           $small-icon-height;
	width:            $small-icon-height;
	color:            var(--slate-400);
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Search bar

.search-bar {
	display:          grid;
	grid-template-columns:
		auto 1fr;
	height:           $search-bar-height;
	background-color: rgb(var(--slate-200-rgb) / 0.75);
	border-radius:    $circular;
}
.search-bar-icon {
	margin:           math.div($search-bar-height - $icon-height, 2);
	height:           $icon-height;
	width:            $icon-height;
	color:            var(--slate-400);
}
.search-bar input[type=text] {
	font:             400 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-700);
}

// States
.search-bar:is(:hover, :has(:focus-visible)) { background-color: white; box-shadow: $hairline-shadow; }
.search-bar input[type=text]::placeholder { color: var(--slate-500); }
.search-bar:has(:focus-visible) input[type=text]::placeholder { opacity: 0; }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Checkbox

.checkbox-list { border-radius: math.div($container-height, 2); }
.checkbox-list-item {
	display:          grid;
	grid-template-columns:
		auto
		1fr
		auto;
	align-items:      center;
	height:           $container-height;
	border-radius:    $circular;
}
.checkbox-icon {
	margin:           math.div($container-height - $icon-height, 2);
	height:           $icon-height;
	width:            $icon-height;
	color:            var(--slate-700);
}
.checkbox-list-item p {
	font:             400 $font-size / normal BlinkMacSystemFont;
	color:            var(--slate-700);
}

// Spacing
.checkbox-list:not(:first-of-type) { margin-top: -8px; }
.checkbox-list ul { margin-left: math.div($container-height, 2); }

// States
.checkbox-list-item { cursor: pointer; }

.checkbox-list:is(:hover, :has(:focus-visible)) { background-color: var(--slate-100); }
.checkbox-list ul:is(:hover, :has(:focus-visible)) { background-color: var(--slate-200); }
.checkbox-list-item:is(:hover:active, :has(:focus-visible)) { background-color: rgb(var(--slate-500-rgb) / 0.25); }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Licenses

.license-list-item {
	display:          flex;
	flex-direction:   row;
	gap:              8px;
}
.license-icon {
	margin:           math.div($small-icon-height * 1.375 - $small-icon-height, 2);
	margin-left:      0;
	height:           $small-icon-height;
	width:            $small-icon-height;
	background-color: var(--slate-700-rgb);
	border-radius:    $circular;
}
.license-type {
	font:             400 $small-font-size / normal BlinkMacSystemFont;
	line-height:      1.375;
	color:            var(--slate-700);
}

// Spacing
.license-list-item:not(:first-child) { margin-top: 8px; }
