@use "sass:math"

@use "globals" as *

// CSS
@use "base" as *
@use "input-checkbox" as *
@use "input-range" as *

$undo-height: 16px

.section
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  &:first-child
    padding-top: $sidebar-padding-y
  &:last-child
    position: relative
    z-index: 10
    padding: $sidebar-padding-y $sidebar-padding-x
    //// padding-bottom: $sidebar-padding-y
    box-shadow: $hairline-shadow-top
  .section-header
    display: flex
    align-items: center
    height: math.div($generic-button-height, 2)
    .type
      margin: sidebar-keyline()
      // TODO
      //// +typography-caps
      color: $slate-400
    .undo
      margin: sidebar-keyline($undo-height)
      height: $undo-height
      width: $undo-height
      color: $slate-300
      cursor: pointer   // Interaction
      user-select: none // Interaction
      &:hover
        color: $slate-800

//// .section input[type=range]
////   margin: 0 sidebar-keyline()
