@use "globals" as *

$x-slider-track-height: 6px
$x-slider-thumb-height: 32px

.interactive-slider
  display: flex
  flex-direction: column
  justify-content: center
  height: $x-slider-thumb-height
  cursor: grab       // Interaction styles
  user-select: none  // Interaction styles
  &:hover:active     // Interaction styles
    cursor: grabbing // Interaction styles
  .track
    display: flex
    justify-content: center
    align-items: center
    height: $x-slider-track-height
    background-color: dodgerblue
    border-radius: 1e3px
    .thumb
      height: $x-slider-thumb-height
      width: $x-slider-thumb-height
      background-color: white
      border-radius: 1e3px
      box-shadow: $hairline-shadow, $realistic-shadow
