@use "sass:math"

$min-z-index: 50
$max-z-index: 100

$x:         var(--__x)
$min-width: var(--__min-width)
$max-width: var(--__max-width)

.sidebar
	position: fixed
	&[data-pos=start]
		inset: 0 auto 0 0
	&[data-pos=end]
		inset: 0 0 0 auto

	//// &:not(:is([data-state=maximized], [data-transition]))

	z-index: $min-z-index
	&:is([data-state=maximized], [data-transition])
		z-index: $max-z-index

	//// &:is([data-state=maximized], [data-transition])
	//// 	z-index: $max-z-index

	display: flex          // Forward height
	flex-direction: row    // Forward height

	// Start
	&[data-pos=start]
		transform: translateX(calc(-1 * ($max-width - $min-width) + $x))
	&[data-pos=start][data-state=maximized]
		transform: translateX($x)
	&[data-pos=start][data-state=minimized]
		transform: translateX(calc(-1 * $max-width + $x))

	// End
	&[data-pos=end]
		transform: translateX(calc($max-width - $min-width + $x))
	&[data-pos=end][data-state=maximized]
		transform: translateX($x)
	&[data-pos=end][data-state=minimized]
		transform: translateX(calc($max-width + $x))

.sidebar[data-transition]
	transition: transform 600ms cubic-bezier(0, 1, 0.25, 1)

////////////////////////////////////////////////////////////////////////////////

.sidebar-drag-area
	position: absolute
	.sidebar[data-pos=start] &
		inset: 0 auto 0 100%
	.sidebar[data-pos=end] &
		inset: 0 100% 0 auto
	display: flex
	justify-content: center
	align-items: center
	width: 32px
	&:not(:hover:active)
		cursor: grab
	&:hover:active
		cursor: grabbing
	-webkit-user-select: none
	user-select: none

.sidebar-drag-area-handle
	height: 6px * 8
	width: 6px
	background-color: hsl(0, 0%, 0%, 0.25)
	border-radius: 1e3px

////////////////////////////////////////////////////////////////////////////////

.sidebar-card
	display: flex
	.sidebar[data-pos=start] &
		justify-content: flex-end
	.sidebar[data-pos=end] &
		justify-content: flex-start
	width: $max-width
	background-color: white
	/// .sidebar:not([data-state=maximized]) &
	box-shadow: 0 0 0 1px hsl(0, 0%, 0%, 0.1)
	//// .sidebar[data-state=maximized] &
	//// 	box-shadow: null
.sidebar-card-content
	display: flex          // Forward height
	flex-direction: column // Forward height
	width: $min-width

////////////////////////////////////////////////////////////////////////////////

.sidebar-header
	position: sticky
	top: 0
	background-color: white
.sidebar-scroll-area
	overflow-y: auto
.sidebar-footer
	position: sticky
	bottom: 0
	z-index: 20
	margin-top: auto
	background-color: white

////////////////////////////////////////////////////////////////////////////////

.sidebar-overlay
	position: fixed
	inset: 0
	z-index: math.div($min-z-index + $max-z-index, 2)
	background-color: hsl(0, 0%, 0%, 0.25)
	&:not([data-open])
		opacity: 0
		cursor: null
		pointer-events: none
	&[data-open]
		opacity: 1
		cursor: pointer
		pointer-events: null

	//// transition: opacity 600ms ease
	transition: opacity 600ms cubic-bezier(0, 1, 0.25, 1)

//// main
//// 	position: absolute;
//// 	inset: 0 $min-width 0 $min-width;
