$windows-scrollbar-width: 16px;
$inset-x: 16px;
$app-w: 1536px;

////////////////////////////////////////////////////////////////////////////////
// .bg-mask

.bg-mask-sticky {
	position: sticky;
	top: 0;
	height: 0; // 😎
}
.bg-mask {
	margin: 0 -10%;
	height: 320px;
	border-radius: 0 0 100% 100%;
	// Defer to [data-bg-hero] for background-image
}
@media (max-width: #{$app-w + $inset-x * 2 + $windows-scrollbar-width - 1px}) {
	.bg-mask-sticky { display: none; }
}

////////////////////////////////////////////////////////////////////////////////
// .fg-mask

.fg-mask-sticky {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	pointer-events: none;
}
.fg-mask-sticky + * {
	position: relative;
	top: calc(-1 * var(--rounding));
}
.fg-mask-bit-1 {
	position: relative;
	height: calc(var(--rounding) + var(--inset-y));
	min-width: calc(var(--rounding) + var(--inset-x)); // Use min-width to ensure no shrinking
	// Defer to [data-bg-hero] for background-image
}
.fg-mask-bit-2 {
	height: var(--inset-y);
	width: 100%;
	max-width: calc(1536px - var(--rounding) * 2);
	// Defer to [data-bg-hero] for background-image
}
.fg-mask-bit-3 {
	position: relative;
	height: calc(var(--rounding) + var(--inset-y));
	min-width: calc(var(--rounding) + var(--inset-x)); // Use min-width to ensure no shrinking
	// Defer to [data-bg-hero] for background-image
}
.fg-mask-bit-1-nested {
	position: absolute;
	bottom: 0;
	right: 0;
	height: var(--rounding);
	width: var(--rounding);
	border-top-left-radius: 1e3px;
	//// border-bottom-right-radius: 1e3px;
	background-color: white;
}
.fg-mask-bit-3-nested {
	position: absolute;
	bottom: 0;
	left: 0;
	height: var(--rounding);
	width: var(--rounding);
	border-top-right-radius: 1e3px;
	//// border-bottom-left-radius: 1e3px;
	background-color: white;
}
@media (max-width: #{$app-w + $inset-x * 2 + $windows-scrollbar-width - 1px}) {
	.fg-mask-sticky + * { top: 0; }
}
@media (max-width: #{$app-w + $inset-x * 2 + $windows-scrollbar-width - 1px}) {
	.fg-mask-sticky { display: none; }
}
