.prose {
	white-space: normal;
	font: 400 16px / 1.4 var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
.prose h1 {
	white-space: normal;
	font: 600 24px / 1.25 var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
.prose h2 {
	white-space: normal;
	font: 600 20px / 1.25 var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
.prose pre code {
	white-space: pre;
	font: 400 16px * 0.875 / normal var(--code);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
.prose code {
	white-space: pre;
	font: 400 1em * 0.875 / normal var(--code);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
