////////////////////////////////////////////////////////////////////////////////
// Y-axis

.prose > * + * {
	margin-top:    16px;
}
.prose > :is(
	h1,
	h2
) {
	margin-top:    32px;
	margin-bottom: 16px;
}
.prose > :is(
	hr,
	pre
) {
	margin-top:    32px;
	margin-bottom: 32px;
}
.prose > :is(
	ol,
	ul
) {
	margin-top:    16px;
	margin-bottom: 32px;
}

////////////////////////////////////////////////////////////////////////////////
// X-axis

.prose > :not(pre) {
	margin-right:  64px;
	margin-left:   64px;
}
.prose > :is(
	ol,
	ul
) {
	margin-right:  64px + 16px;
	margin-left:   64px + 16px;
}
