@use "sass:math"

@use "globals" as *

.thing
  position: relative
  height: 24px
  width: 24px
  background-color: red
  border-radius: 1e3px

.thing-thing
  position: absolute
  inset: auto 0 32px auto
  //// inset: 0 0 auto auto
  z-index: 100

.react-colorful
  border-radius: 12px
  box-shadow: $realistic-shadow

//// .react-colorful-container
////   height: 32px
////   width: 32px
////   display: flex
////   justify-content: flex-end
////   align-items: flex-start
////
////   //// position: fixed
////   //// top: 0
////   //// left: 0
////   //// z-index: 100
////   box-shadow: $realistic-shadow
