@use "sass:math"

@use "globals" as *
@use "tw-colors" as *

$search-bar-height:      40px
$search-bar-icon-height: 16px

.search-bar
  display: flex
  margin: 0 math.div(sidebar-keyline(), 2)
  height: $search-bar-height
  background-color: $slate-200
  border-radius: 1e3px
  &:is(:hover, :has(:focus-visible))
    background-color: white
    box-shadow: $inset-hairline-shadow
  svg
    margin: math.div($search-bar-height - $search-bar-icon-height, 2)
    height: $search-bar-icon-height
    width: $search-bar-icon-height
    color: $slate-400
  input[type=text]
    font: 450 14px / normal 'Inter var experimental'
    color: $slate-800
    &::placeholder
      color: $slate-500
    &:focus-visible::placeholder
      opacity: 0
