@use "tailwind-colors" as *

$include: false !default

$base-color:            var(--base-color)
$form-base-color:       var(--form-base-color)
$hairline-color:        var(--hairline-color)
$brand-color:           var(--brand-color)
$primary-text-color:    var(--primary-text-color)
$secondary-text-color:  var(--secondary-text-color)
$inactive-icon-color:   var(--inactive-icon-color)
$active-icon-color:     var(--active-icon-color)
$decorative-icon-color: var(--decorative-icon-color)

@if $include
  :root[data-theme=light]
    color-scheme: light
  :root[data-theme=dark]
    color-scheme: dark

  :root[data-theme=light]
    --base-color:            #{white}
    --form-base-color:       #{white}
    --hairline-color:        #{$slate-300}
    --brand-color:           #{dodger-blue}
    --primary-text-color:    #{$slate-800}
    --secondary-text-color:  #{$slate-600}
    --inactive-icon-color:   #{$slate-400}
    --active-icon-color:     #{$slate-800}
    --decorative-icon-color: #{$slate-500}
  :root[data-theme="dark"]
    --base-color:            #{$slate-900}
    --form-base-color:       #{$slate-800}
    --hairline-color:        #{$slate-300}
    --brand-color:           #{dodger-blue}
    --primary-text-color:    #{$slate-100}
    --secondary-text-color:  #{$slate-700}
    --inactive-icon-color:   #{$slate-500}
    --active-icon-color:     #{$slate-100}
    --decorative-icon-color: #{$slate-500}
