$include: false !default

// Colors
$base-color:           var(--base-color)
$form-color:           var(--form-color)
$hover-color:          var(--hover-color)
$hover-active-color:   var(--hover-active-color)
$hairline-color:       var(--hairline-color)
$brand-color:          var(--brand-color)

// Typograph
$primary-text-color:   var(--primary-text-color)
$secondary-text-color: var(--secondary-text-color)
$tertiary-text-color:  var(--tertiary-text-color)

@if $include
  :root
    background-color: $base-color

  :root[data-theme=light]
    color-scheme: light
  :root[data-theme=dark]
    color-scheme: dark

  :root[data-theme=light]
    --base-color:           hsl(200, 10%, 100%)
    --form-color:           hsl(200, 10%, 100%)
    --hover-color:          hsl(200, 10%,  95%)
    --hover-active-color:   hsl(200, 10%,  90%)
    --hairline-color:       hsl(200, 10%,  85%)
    --brand-color:          dodgerblue
    --primary-text-color:   hsl(200, 10%,  10%)
    --secondary-text-color: hsl(200, 10%,  25%)
    --tertiary-text-color:  hsl(200, 10%,  50%)
  :root[data-theme="dark"]
    --base-color:           hsl(200, 10%,   5%)
    --form-color:           hsl(200, 10%,  10%)
    --hover-color:          hsl(200, 10%,  10%)
    --hover-active-color:   hsl(200, 10%,  15%)
    --hairline-color:       hsl(200, 10%,  25%)
    --brand-color:          dodgerblue
    --primary-text-color:   hsl(200, 10%,  90%)
    --secondary-text-color: hsl(200, 10%,  75%)
    --tertiary-text-color:  hsl(200, 10%,  25%)
