@use "sass:math";

// https://github.com/sindresorhus/modern-normalize
$sans: (
	//// 'var(--inter)', // TODO
	system-ui,
	'Segoe UI',
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji',
);

$code: (
	//// 'var(--fira-code)', // TODO
	ui-monospace,
	SFMono-Regular,
	Consolas,
	'Liberation Mono',
	Menlo,
	monospace,
);

:root, ::before, ::after {
	tab-size: 2;
	--sans: #{$sans};
	--code: #{$code};
	line-height: normal;

}

.typography-caps {
	white-space: pre;
	font: 600 11px / normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: 0.05em;
}
.typography-small-sans {
	white-space: normal;
	font: 400 13px / normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: 0.0125em;
}

.prose {
	white-space: normal;
	font: 400 16px / 1.6 var(--sans);
	font-feature-settings: "tnum";
	//// letter-spacing: -0.005em;
	letter-spacing: null;
}
h1 {
	white-space: normal;
	font: 600 1.5em / 1.25 var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
h2 {
	white-space: normal;
	font: 600 1.25em / 1.25 var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
pre code {
	white-space: pre;
	font: 400 #{16px * 0.9375} / 1.6 var(--code);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
code {
	white-space: pre;
	font: 400 0.9375em / normal var(--code);
	font-feature-settings: "tnum";
	letter-spacing: null;
}
