.typography-caps {
	white-space: pre;
	font: 500 11px / normal var(--sans);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: 0.05em;
}
.typography-small-sans {
	white-space: normal;
	font: 400 12px / normal var(--sans);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: 0.0125em;
}

////////////////////////////////////////////////////////////////////////////////

:root {
	--gutter-x-1: 16px;
	--gutter-x-2: 16px;
}
@media (min-width: 640px)  { :root { --gutter-x-1: 24px; --gutter-x-2: 12px; } }
@media (min-width: 1024px) { :root { --gutter-x-1: 48px; --gutter-x-2: 24px; } }

.prose > * + * {
	margin:
		8px
		var(--gutter-x-1);
}
.prose > :first-child { margin-top:    0; }
.prose > :last-child  { margin-bottom: 0; }

.prose > :is(h1, h2, h3, h4, h5, h6) {
	margin:
		32px
		var(--gutter-x-1);
}
.prose > ol {
	margin:
		16px
		calc(var(--gutter-x-1) + var(--gutter-x-2));
}
.prose > pre {
	margin:
		16px
		0;
	padding:
		0
		calc(var(--gutter-x-1) + var(--gutter-x-2));
}
.prose > figure {
	margin:
		64px
		var(--gutter-x-1);
}
.prose > hr {
	margin:
		32px
		0;
	@media (min-width: 512px) {
		margin:
			32px
			var(--gutter-x-1);
	}
}

////////////////////////////////////////////////////////////////////////////////

.prose {
	white-space: normal;
	font: 400 16px / 1.6 var(--sans);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: null;
}
.prose h1 {
	white-space: normal;
	font: 500 1.25em / 1.25 var(--sans);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: null;
}
.prose h2 {
	white-space: normal;
	font: 500 1.125em / 1.25 var(--sans);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: null;
}
pre code {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	white-space: pre;
	font: 400 #{16px * 0.875} / 1.6 var(--code);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: null;
}
.prose :not(pre) code {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	// Use pre-wrap here
	white-space: pre-wrap;
	font: 400 0.875em / normal var(--code);
	font-feature-settings: "tnum", "zero"; // FIXME: Next.js
	letter-spacing: null;
}
