$sans: 'Inter var experimental', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
$code: 'Recursive Monospace', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace

////////////////////////////////////////////////////////////////////////////////

=font-smoothing
  -webkit-font-smoothing:  antialiased
  -moz-osx-font-smoothing: grayscale

=no-font-smoothing
  -webkit-font-smoothing:  auto
  -moz-osx-font-smoothing: auto

////////////////////////////////////////////////////////////////////////////////

=typography-sans
  font: 425 16px / normal $sans
  font-feature-settings: "tnum"

// Uses line-height
=typography-reduced-sans
  font: 425 13px / 1.25 $sans
  font-feature-settings: "tnum"

=typography-caps
  font: 500 11px / normal $sans
  font-feature-settings: "tnum"
  letter-spacing: 0.05em    // Added
  text-transform: uppercase // Added

// Uses line-height
=typography-code
  //// +no-font-smoothing
  font: 500 13px / 1.375 $code
  font-feature-settings: "tnum"
