////////////////////////////////////////////////////////////////////////////////

=font-smoothing
  -webkit-font-smoothing:  antialiased
  -moz-osx-font-smoothing: grayscale

=no-font-smoothing
  -webkit-font-smoothing:  auto
  -moz-osx-font-smoothing: auto

////////////////////////////////////////////////////////////////////////////////

=typography-sans
  font-weight:    425
  font-size:      16px
  line-height:    normal
  font-family:    $sans

// Uses line-height
=typography-reduced-sans
  font-weight:    425
  font-size:      13px
  line-height:    1.25
  font-family:    $sans

=typography-caps
  font-weight:    500
  font-size:      11px
  line-height:    normal
  font-family:    $sans
  letter-spacing: 0.05em    // Added
  text-transform: uppercase // Added

// Uses line-height
=typography-code
  font-weight:    500
  font-size:      13px
  line-height:    1.375
  font-family:    $code
