.u-flex-1
  flex: 1

.u-overflow-y-scroll
  overflow-y: scroll

.u-button
  cursor: pointer
  user-select: none

.u-slider
  cursor: grab
  user-select: none
.u-grabbing
  cursor: grab
  user-select: none
  &:hover:active
    cursor: grabbing
