@use "globals" as *

// TODO: DEPRECATE
.u-flex-1
  flex: 1

.u-keyline-generic
  margin: 0 sidebar-keyline()
.u-keyline-checkbox
  margin: 0 sidebar-keyline(24px)

.u-pointer
  cursor: pointer
  user-select: none
.u-pointer-drag
  cursor: grab
  user-select: none
  &:hover:active
    cursor: grabbing
