:root {
	// This is how we control icon scale and stroke-width. Instead of using
	// context or props, which generally requires virtualization or memoization --
	// even when using performant libraries such as Solid.js -- use CSS instead.
	//
	// That being said utility CSS libraries such as Tailwind CSS, WindiCSS, and
	// UnoCSS meaningfully degrade performance because they CSS variable resets
	// per element. Instead, use { optimizeUniversalDefaults: true } and some
	// other optimizations in Tailwind CSS (see tailwind.config.js).
	//
	--icon-scale:        1;
	--icon-stroke-width: 2;

	// Header
	--header-w:          calc(var(--app-w) - 256px);

	// Mask
	--mask-h:            240px;
	--mask-inset:        24px;

	// App
	--app-w:             1792px;
	--app-rounding:      48px;

	// Aside
	--aside-w:           448px;
	--aside-inset:       32px;
	--aside-gap:         16px;

	// Etc.
	--grid-size:         96px;
	--reduced-form-size: 32px;
	--form-size:         36px;
}

@media not all and (min-width: 640px) {
	:root { --grid-size: 64px; }
	body {
		--icon-scale:        1 !important;
		--icon-stroke-width: 2 !important;
	}
}
