:root {
	--padding-y:               32px;
	--padding-x:               32px;
	--padding:                 var(--padding-y) var(--padding-x);
	--spacing:                 16px;

	--sidebar-width:           384px;
	--search-bar-height:       48px;
	--container-height:        32px;
	--icon-height:             20px;
	--small-icon-height:       15px;

	--checkbox-height:         26px;
	--checkbox-check-height:   43.75%;
	--checkbox-transition-duration:
		0ms;

	--slider-track-height:     6px;
	--slider-thumb-height:     36px;

	--font-size:               16px;
	--small-font-size:         13px;
	--upper-font-size:         10px;

	--hairline-color:          var(--slate-300);
	--inset-hairline-shadow:   inset  0    0   0 1px var(--hairline-color);
	--inset-hairline-t-shadow: inset  0   -1px 0 0   var(--hairline-color);
	--inset-hairline-r-shadow: inset  1px  0   0 0   var(--hairline-color);
	--inset-hairline-b-shadow: inset  0    1px 0 0   var(--hairline-color);
	--inset-hairline-l-shadow: inset -1px  0   0 0   var(--hairline-color);
	--hairline-shadow:                0    0   0 1px var(--hairline-color);
	--hairline-t-shadow:              0   -1px 0 0   var(--hairline-color);
	--hairline-r-shadow:              1px  0   0 0   var(--hairline-color);
	--hairline-b-shadow:              0    1px 0 0   var(--hairline-color);
	--hairline-l-shadow:             -1px  0   0 0   var(--hairline-color);

	--realistic-shadow-1:
		0  1px  2px  -1px var(--hairline-color);
	--realistic-shadow-2:
		0  1px  2px  -1px var(--hairline-color),
		0  2px  4px  -2px var(--hairline-color);
	--realistic-shadow-3:
		0  1px  2px  -1px var(--hairline-color),
		0  2px  4px  -2px var(--hairline-color),
		0  4px  8px  -4px var(--hairline-color);
	--realistic-shadow-4:
		0  1px  2px  -1px var(--hairline-color),
		0  2px  4px  -2px var(--hairline-color),
		0  4px  8px  -4px var(--hairline-color),
		0  8px 16px  -8px var(--hairline-color);
	--realistic-shadow-5:
		0  1px  2px  -1px var(--hairline-color),
		0  2px  4px  -2px var(--hairline-color),
		0  4px  8px  -4px var(--hairline-color),
		0  8px 16px  -8px var(--hairline-color),
		0 16px 32px -16px var(--hairline-color);
	--realistic-shadow-6:
		0  1px  2px  -1px var(--hairline-color),
		0  2px  4px  -2px var(--hairline-color),
		0  4px  8px  -4px var(--hairline-color),
		0  8px 16px  -8px var(--hairline-color),
		0 16px 32px -16px var(--hairline-color),
		0 32px 64px -32px var(--hairline-color);
}
