:root {
	--hero-height:       640px;
	--ribbon-inset-y:    32px;
	--ribbon-height:     256px;
	--rounding:          48px;
	--search-bar-height: 64px;
	--main-width:        2304px;
	--main-inset-y:      48px;
	--main-inset-x:      96px;
	--sidebar-width:     400px;
	--sidebar-inset-y:   24px;
	--sidebar-inset-x:   32px;
	--hairline-height:   1px;

	--base-h:                 200;
	--base-s:                 25%;
	--base-l:                 50%;
	--base-color:             hsl(var(--base-h), var(--base-s), 100%);
	--gray-color:             hsl(var(--base-h), var(--base-s), 98%);
	--dark-placeholder-color: hsl(var(--base-h), var(--base-s), 65%);
	--placeholder-color:      hsl(var(--base-h), var(--base-s), 85%);
	--hairline-color:         hsl(var(--base-h), var(--base-s), var(--base-l), 0.2);
	--trim-color:             hsl(215, 100%, 60%);

	--realistic-shadow-1:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);
	--realistic-shadow-2:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  2px  4px  -2px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);
	--realistic-shadow-3:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  2px  4px  -2px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  4px  8px  -4px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);
	--realistic-shadow-4:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  2px  4px  -2px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  4px  8px  -4px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  8px 16px  -8px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);
	--realistic-shadow-5:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  2px  4px  -2px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  4px  8px  -4px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  8px 16px  -8px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0 16px 32px -16px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);
	--realistic-shadow-6:
		0  1px  2px  -1px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  2px  4px  -2px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  4px  8px  -4px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0  8px 16px  -8px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0 16px 32px -16px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25),
		0 32px 64px -32px hsl(var(--base-h), var(--base-s), var(--base-l), 0.25);

	// Directional hairline shadows
	--inset-hairline-shadow:   inset 0 0 0 var(--hairline-height) var(--hairline-color);
	--inset-hairline-shadow-t: inset 0 var(--hairline-height) 0 0 var(--hairline-color);
	--inset-hairline-shadow-r: inset calc(-1 * var(--hairline-height)) 0 0 0 var(--hairline-color);
	--inset-hairline-shadow-b: inset 0 calc(-1 * var(--hairline-height)) 0 0 var(--hairline-color);
	--inset-hairline-shadow-l: inset var(--hairline-height) 0 0 0 var(--hairline-color);
	--hairline-shadow:         0 0 0 var(--hairline-height) var(--hairline-color);
	--hairline-shadow-t:       0 calc(-1 * var(--hairline-height)) 0 0 var(--hairline-color);
	--hairline-shadow-r:       var(--hairline-height) 0 0 0 var(--hairline-color);
	--hairline-shadow-b:       0 var(--hairline-height) 0 0 var(--hairline-color);
	--hairline-shadow-l:       calc(-1 * var(--hairline-height)) 0 0 0 var(--hairline-color);

	// Composed hairline and realistic shadows
	--inset-shadow-1: var(--inset-hairline-shadow), var(--realistic-shadow-1);
	--shadow-1:       var(--hairline-shadow), var(--realistic-shadow-1);
	--inset-shadow-2: var(--inset-hairline-shadow), var(--realistic-shadow-2);
	--shadow-2:       var(--hairline-shadow), var(--realistic-shadow-2);
	--inset-shadow-3: var(--inset-hairline-shadow), var(--realistic-shadow-3);
	--shadow-3:       var(--hairline-shadow), var(--realistic-shadow-3);
	--inset-shadow-4: var(--inset-hairline-shadow), var(--realistic-shadow-4);
	--shadow-4:       var(--hairline-shadow), var(--realistic-shadow-4);
	--inset-shadow-5: var(--inset-hairline-shadow), var(--realistic-shadow-5);
	--shadow-5:       var(--hairline-shadow), var(--realistic-shadow-5);
	--inset-shadow-6: var(--inset-hairline-shadow), var(--realistic-shadow-6);
	--shadow-6:       var(--hairline-shadow), var(--realistic-shadow-6);
}
