// Constants
:root {
	--svg-color: #ffb13b;
	--jsx-color: #61dafb;
	--tsx-color: #3178c6;
}

:root {
	--seed-h: 220;
	--seed-s: 100%;
	--seed-l: 0%;
	--seed: var(--seed-h), var(--seed-s);

	//////////////////////////////////////////////////////////////////////////////
	// Colors

	--level-1-color: hsl(var(--seed), 100%);
	--level-2-color: hsl(var(--seed), 100%);
	--trim-color:    hsl(200, 100%, 60%);

	//////////////////////////////////////////////////////////////////////////////
	// Hairlines

	--hairline-height: 1px;
	--hairline-color:  hsl(var(--seed), 15%, 0.1);

	--hairline-shadow:         0 0 0 var(--hairline-height) var(--hairline-color);
	--hairline-shadow-t:       0 calc(-1 * var(--hairline-height)) 0 0 var(--hairline-color);
	--hairline-shadow-r:       var(--hairline-height) 0 0 0 var(--hairline-color);
	--hairline-shadow-b:       0 var(--hairline-height) 0 0 var(--hairline-color);
	--hairline-shadow-l:       calc(-1 * var(--hairline-height)) 0 0 0 var(--hairline-color);

	--inset-hairline-shadow:   inset 0 0 0 var(--hairline-height) var(--hairline-color);
	--inset-hairline-shadow-t: inset 0 var(--hairline-height) 0 0 var(--hairline-color);
	--inset-hairline-shadow-r: inset calc(-1 * var(--hairline-height)) 0 0 0 var(--hairline-color);
	--inset-hairline-shadow-b: inset 0 calc(-1 * var(--hairline-height)) 0 0 var(--hairline-color);
	--inset-hairline-shadow-l: inset var(--hairline-height) 0 0 0 var(--hairline-color);

	//////////////////////////////////////////////////////////////////////////////
	// Shadows

	--base-shadow-color: hsl(var(--seed), 15%, 0.1);
	--base-shadow-1:
		0  1px  2px  -1px var(--base-shadow-color);
	--base-shadow-2:
		0  1px  2px  -1px var(--base-shadow-color),
		0  2px  4px  -2px var(--base-shadow-color);
	--base-shadow-3:
		0  1px  2px  -1px var(--base-shadow-color),
		0  2px  4px  -2px var(--base-shadow-color),
		0  4px  8px  -4px var(--base-shadow-color);
	--base-shadow-4:
		0  1px  2px  -1px var(--base-shadow-color),
		0  2px  4px  -2px var(--base-shadow-color),
		0  4px  8px  -4px var(--base-shadow-color),
		0  8px 16px  -8px var(--base-shadow-color);
	--base-shadow-5:
		0  1px  2px  -1px var(--base-shadow-color),
		0  2px  4px  -2px var(--base-shadow-color),
		0  4px  8px  -4px var(--base-shadow-color),
		0  8px 16px  -8px var(--base-shadow-color),
		0 16px 32px -16px var(--base-shadow-color);
	--base-shadow-6:
		0  1px  2px  -1px var(--base-shadow-color),
		0  2px  4px  -2px var(--base-shadow-color),
		0  4px  8px  -4px var(--base-shadow-color),
		0  8px 16px  -8px var(--base-shadow-color),
		0 16px 32px -16px var(--base-shadow-color),
		0 32px 64px -32px var(--base-shadow-color);

	--shadow-1:
		var(--hairline-shadow),
		var(--base-shadow-1);
	--shadow-2:
		var(--hairline-shadow),
		var(--base-shadow-2);
	--shadow-3:
		var(--hairline-shadow),
		var(--base-shadow-3);
	--shadow-4:
		var(--hairline-shadow),
		var(--base-shadow-4);
	--shadow-5:
		var(--hairline-shadow),
		var(--base-shadow-5);
	--shadow-6:
		var(--hairline-shadow),
		var(--base-shadow-6);

	--inset-shadow-1:
		var(--inset-hairline-shadow),
		var(--base-shadow-1);
	--inset-shadow-2:
		var(--inset-hairline-shadow),
		var(--base-shadow-2);
	--inset-shadow-3:
		var(--inset-hairline-shadow),
		var(--base-shadow-3);
	--inset-shadow-4:
		var(--inset-hairline-shadow),
		var(--base-shadow-4);
	--inset-shadow-5:
		var(--inset-hairline-shadow),
		var(--base-shadow-5);
	--inset-shadow-6:
		var(--inset-hairline-shadow),
		var(--base-shadow-6);
}

@media (prefers-color-scheme: dark) {
	:root {
		--level-1-color: hsl(var(--seed), calc(var(--seed-l) + 7.5%));
		--level-2-color: hsl(var(--seed), calc(var(--seed-l) + 10%));
	}
}
