@use "tailwind-colors" as *;

:root {
	// TODO: Use Tailwind channels / colors here?
	--seed-h:   220;
	--seed-s:   100%;
	--seed-l:   0%;
	--seed-raw: 220, 100%, 0%
	--seed:     hsl(220, 100%, 0%);

	--theme-color:         #44bbff;
	--hero-gradient-angle: 195deg;
	--hero-gradient-start: #44bbff;
	--hero-gradient-end:   #0062ff;

	background-color: gray(50);
}
