@use "sass:color"
@use "sass:math"

@use "../../css/globals" as *

////////////////////////////////////////

.section-header
  position: sticky
  top: 0
  z-index: 50
  display: flex
  flex-direction: column
  background-color: white
  overflow-y: auto

.section-spacer
  flex: 1

.section-footer
  position: sticky
  bottom: 0
  z-index: 50
  background-color: white

////////////////////////////////////////

.section-header-header
  display: flex
  align-items: center
  height: math.div($button-height, 2)
  background-color: white

.section-header-body
  flex: 1
  overflow-y: auto
  // Add .padding-bottom for .syntax-highlighter
  // FUTURE: Change to &:has(> .syntax-highlighter)
  &.is-padding-bottom
    padding-bottom: $sidebar-gap

////////////////////////////////////////

.section
  display: flex
  flex-direction: column
  gap: $sidebar-gap
  padding: $sidebar-gap $sidebar-padding-x
  &.is-start
    isolation: isolate // Prevents clipping box-shadow on scroll
    padding-top: $sidebar-padding-y
    &:has(+ [data-scroll=true])
      box-shadow: $hairline-shadow-bottom
  &.is-end
    padding: $sidebar-padding-y $sidebar-padding-x

  // Use :not([class]) to target:
  //
  //   <div>
  //   ^^^^^
  //     <Checkboxes>
  //       <Checkbox>
  //       <Checkbox>
  //       ...
  //     </Checkboxes>
  //   </div>
  //
  > :not(:not([class]), .checkboxes, .resources)
    margin: 0 math.div($button-height - $tiny-icon-height, 2)

////////////////////////////////////////

.section-icon
  margin-right: math.div($button-height - $tiny-icon-height, 2) // TODO
  height: $tiny-icon-height
  width: $tiny-icon-height
  color: $slate-600

.section-name
  flex: 1 // Stretch x-axis
  font: 500 11px / normal $sans
  font-feature-settings: 'tnum'
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $slate-600

.section-range-desc
  display: inline-flex
  justify-content: center
  align-items: center
  height: 24px
  width: 56px
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  font: 500 11px / normal $sans
  font-feature-settings: 'tnum'
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $slate-600
  -webkit-user-select: all // Select all on click
  user-select: all         // Select all on click

.section-undo
  margin-left: math.div($button-height - $tiny-icon-height, 2) // TODO
  height: $tiny-icon-height
  width: $tiny-icon-height
  color: $slate-300
  cursor: pointer           // Interaction
  -webkit-user-select: none // Interaction
  user-select: none         // Interaction
  &:is(:hover, :focus-visible)
      color: $slate-800
