@use "sass:math"

@use "../globals" as *

$track-height: 6px
$thumb-height: 32px

input[type=range]
  height: $thumb-height
  cursor: grab              // Interaction
  -webkit-user-select: none // Interaction
  user-select: none         // Interaction
  &:hover:active            // Interaction
    cursor: grabbing        // Interaction

  // COMPAT/WebKit
  &::-webkit-slider-runnable-track
    appearance: none // CSS reset
    height: $track-height
    //// background-color: $brand-color
    background-image: linear-gradient(to right, $brand-color var(--progress, 50%), $slate-200 var(--progress, 50%))
    border-radius: 1e3px
  &::-webkit-slider-thumb
    appearance: none // CSS reset
    margin-top: -1 * math.div($thumb-height - $track-height, 2)
    height: $thumb-height
    width: $thumb-height
    background-color: white
    border-radius: 1e3px
    box-shadow: $hairline-shadow, $realistic-shadow
    @at-root
      input[type=range]:focus-visible::-webkit-slider-thumb
        background-color: $slate-100

  // COMPAT/Gecko
  &::-moz-range-track
    appearance: none // CSS reset
    height: $track-height
    //// background-color: $brand-color
    background-image: linear-gradient(to right, $brand-color var(--progress, 50%), $slate-200 var(--progress, 50%))
    border-radius: 1e3px
  &::-moz-range-thumb
    appearance: none // CSS reset
    border: none     // CSS reset
    margin-top: -1 * math.div($thumb-height - $track-height, 2)
    height: $thumb-height
    width: $thumb-height
    background-color: white
    border-radius: var(--progress, 50%)
    box-shadow: $hairline-shadow, $realistic-shadow
    @at-root
      input[type=range]:focus-visible::-moz-range-thumb
        background-color: $slate-100
