@use "sass:math"

@use "../../css/globals" as *

$height: 28px

////////////////////////////////////////

label.export-select
  display: inline-block // CSS reset
.export-select
  position: relative

////////////////////////////////////////

.export-select-button
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 0 math.div($height, 2)
  height: $height
  border-radius: 1e3px
  box-shadow: $inset-hairline-shadow
  pointer-events: none // Passthrough to <select>

////////////////////////////////////////

.export-select-button-name
  font: 425 13px / 1.25 $sans
  text-align: center
  color: $slate-800
  //// font: 500 11px / normal $sans
  //// font-feature-settings: 'tnum'
  //// letter-spacing: 0.05em
  //// text-transform: uppercase
  //// color: $slate-800

.export-select-button-icon
  margin-left: math.div($height - 12px, 2)
  height: 12px
  width: 12px
  color: $slate-800

////////////////////////////////////////

.export-select select
  position: absolute
  height: 100% // Inherit
  width: 100%  // Inherit
  opacity: 0.01
  cursor: pointer
  &:is(:hover, :focus-visible) + .export-select-button
    background-color: $slate-100
  &:hover:active + .export-select-button
    background-color: $slate-200
